{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  TdD&nbsp;&mdash;&nbsp;Login
{% endblock titulo %}

{% block content %}
{% include 'home_bck_btn.html' %}
<h2 class="text-white bg-info">
  <div class="container">
    Login
  </div>
</h2>
<h2 class="text-white bg-whete">
  <div class="container">
        &nbsp;
  </div>
</h2>
<div class="container text-center">
  <form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary bg-info text-white" type="submit" value="Login">
  </form>
</div>
<h2 class="text-white bg-whete">
  <div class="container">
    &nbsp;
  </div>
</h2>
<h2 class="text-info bg-info">
  <div class="container">
        &nbsp;
  </div>
</h2>

{% endblock content %}
