nav ul ul {
	display: none;
}

nav ul li:hover>ul {
	display: block;
	left: auto;
	right: 0;
	margin-right: 30px;
	width: 100%;
	text-align: left;
	padding: 0;
}

nav {
	margin: 0 auto;
	text-align: left;
}

nav ul {
	background: none;
	padding: 0 20px;
	list-style: none;
	position: relative;
	display: inline-table;
	font-size: 90%;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float: left;
}

nav ul li:hover {
	background: #01a4bb;
	background: linear-gradient(top, #1c7c8a 0%, #007383 40%);
	background: -moz-linear-gradient(top, #1c7c8a 0%, #007383 40%);
	background: -webkit-linear-gradient(top, #1c7c8a 0%, #007383 40%);*/
}

nav ul li:hover a {
	color: #fff;
	text-decoration: none;
}

nav ul li a {
	display: block;
	padding: 15px 20px;
	/*color: #757575;*/
	color: #ada266;
	text-decoration: none;
}

nav ul ul {
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}

nav ul ul li {
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

nav ul ul li a {
	padding: 15px 20px;
	color: #fff;
}

nav ul ul li a:hover {
	background: #007383;
}

nav ul ul ul {
	position: relative;
	left: 100;
	top: 0;
	right: 100em;
	margin-right: 0pt;
	background-color: #328587;

}
