/* tdd.css
   -------
*/
html, body {
	height: 100%;
	}

.tdd{
	display: inline;
	font-family: monospace;
	font-style: normal;
	writing-mode: vertical-lr;
	padding: 0;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	padding: 2px;
	margin: 2px
}

.copyleft-text{
	font-size: 85%;
}

.copy-left {
  display: inline-block;
  text-align: right;
  margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}


.minimo {
  font-size: 70%;
  margin: 0;
  padding: 0;
}

.link-menu {
  font-size: 75%;
  margin: 0;
  padding: 0;
}

.livro{
  border: 1px;
  border-style: solid;
  border-color: #ccc;
}

#allbody {
	min-height: 100%;
  position: relative;
}

* html #allbody {
	height: 100%;
  /* Para IE6 que trata height como min-height */
}

#conteudo {
	padding-bottom: 30px;
}


#myfooter {
	position: absolute;
	bottom: 0;
  width: 100%;
}
