{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="text-white bg-danger">
  <div class="container">
    Ups&nbsp;&#x1F613;&nbsp;!!!
  </div>
</h2>
<br>
<div class="container">
  <p class="h2 text-center text-danger">
    Esta página não existe.
  </p>

  {% if user.is_authenticated %}
    <p>Ir&therefore; {{ user.first_name }}, parece que esta página não existe ou
      "<i class="text-info">não é para seu grau</i>".
    </p>

{% endif %}
<p>
  Use o seu Menu para acessar a funcionalidade correta ou consulte
  {% if user.is_authenticated %}
    o Ir&therefore;
  {% else %}
    seu
  {% endif %}
  Administrador para receber mais informações.</p>

<p>O que ocorreu?</p>
<ul>
  <li>em {{ request_path }} tivemos este erro:<br>{{ exception }}</li>
</ul>
</div>
{% endblock content %}
