{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="text-white bg-danger">
  <div class="container">
    Desculpe-nos&nbsp;&#x1F613;&nbsp;!!!
  </div>
</h2>
<br>
<div class="container">
  <p class="h2 text-center text-danger">
    Tivemos um erro no servidor
  </p>

  {% if user.is_authenticated %}
    <p>Ir&therefore; {{ user.first_name }}, parece que estamos com um erro, tente
      mais tarde ou você quer uma página que
      "<i class="text-danger">não é para seu grau</i>".
    </p>
  {% endif %}

<p>
  Volte mais tarde, pois pode ser um problema temporário.
</p>
<p>
  Ou apenas use seu Menu para acessar a funcionalidade correta
</p?>
<p> Uma última opção seria consultar
  {% if user.is_authenticated %}
    o Ir&therefore;
  {% else %}
    seu
  {% endif %}
  Administrador para oferecer mais informações.
</p>

</div>
{% endblock content %}
