<!DOCTYPE html>
{% load static %}

<html lang="pt_br" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="description"
    content="Fichas bibliográficas Maçônicas">
  <meta name="keywords"
    content="Estudo,Maçonaria,Maçônico,livro,Pesquisa">
  <meta name="author"
    content="Ronaldo Silveira">

  <title>
    {% block titulo %}
      TdD - Fichas Maçônicas
    {% endblock titulo %}
  </title>

  <link rel="shortcut icon"
    href="{% static 'favicon/favicon-blue.ico' %}"
    type="image/x-icon">
  <link rel="icon"
    href="{% static 'favicon/favicon-blue.ico' %}"
    type="image/x-icon">
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <link rel="stylesheet" type="text/css"
    href="{% static 'css/tdd.css' %}"
    media="screen" />
  <link rel="stylesheet" type="text/css"
    href="{% static 'css/menu.css' %}"
    media="screen" />

  <style type="text/css">
    /* Azul Info = 17a2b8 */
  </style>
</head>

<body class="bg-light text-justify text-secondary">
  <div id="allbody">
    <div id="myheader">
      <header class="bg-info">
        <div class="align-middle">
          <div class="container-fluid">
            <div class="row">
              <div class="col-2 align-middle">
                <div class="container text-right">
                  <a href="{% url 'url_home' %}">
                    <img src="{% static 'favicon/logo.png' %}" alt="# X">
                  </a>
                </div>
              </div>
              <div class="col-8">
                <div class="text-light">
                  <h1>Tábua de Delinear</h1>
                  <em>
                    Fichas de Estudos Maçônicos
                  </em>
                </div>
              </div>
              <div class="col-2">
                <small class="text-light text-left">
                  {% if user.is_authenticated %}
                    {% include 'menu.html' %}
                  {% else %}
                  <p></p>
                  <ul class="navbar-nav link-menu">
                    <li class="nav-item">
                      <a href="{% url 'login' %}" class="text-light">
                        <img src="{% static 'icones/user.png' %}" width="15"
                          alt="home">
                        Logar</a><br>
                    </li>
                  </ul>
                  {% endif %}
                </small>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div id="mybody">
      <div class="container"><br>
        <div class="minimo">
        <div class="text-right">
          {% if user.is_authenticated %}
            Ir&therefore; <strong>{{ user.first_name }}</strong>
            {% if user.is_superuser %}
              (Admin)
            {% endif %}.
          {% endif %}
        </div>
      </div>
        {% block content %}
        {% endblock content %}
        <br>
      </div>
      <div id="clear"></div>
    </div>
    <div id="myfooter">
      <footer class="bg-dark">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <small>
                <div class="text-white">
                  <div class="copyleft-text">
                    <b>Copyleft <span class="copy-left">&copy;</span> 2019 </b>
                    &nbsp;&mdash;&nbsp;Ronaldo Silveira&nbsp;&mdash;&nbsp;
                    <em>TdD versão 0.0.5 </em>
                  </div>
                  <div class="minimo">
                    Este programa é livre, segundo os critérios do
                    <a href="gnu.org" class="text-info">Projeto GNU</a>, e foi
                    desenvolvido por
                    <a class="text-info" href="mailto:ronaldo@silveira.dev.br">
                      Ronaldo Silveira</a>. É distribuído sob os termos da AGPLv3
                    <i>sem NENHUMA GARANTIA. Veja os fontes no
                      <a class="text-info" href="https://gitlab.com/irmaos/tabua-de-delinear" target="_blank">
                        Gitlab</a>.
                  </div>
                </div>
              </small>
            </div>
          </div>
        </div>
        </div>
      </footer>
    </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" rossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
