{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
  TdD&nbsp;&mdash;&nbsp;Ficha
{% endblock titulo %}

{% block content %}
<h2 class="text-white bg-info">
  <div class="container">
    Fichas
  </div>
</h2>

<div class="container">
  <form method="post">
      {% csrf_token %}

      <div class="form-group">
          {{form_usuario.username.errors}}
          <label>Username: </label>
          {{form_usuario.username}}
      </div>

      <div class="form-group">
          {{form_usuario.password1.errors}}
          <label>Senha: </label>
          {{form_usuario.password1}}
      </div>

      <div class="form-group">
          {{form_usuario.password2.errors}}
          <label>Confirmação de senha: </label>
          {{form_usuario.password2}}
      </div>

      <div class="form-group">
          <input type="submit" value="Cadastrar" class="btn btn-primary">
      </div>
  </form>
</div>

{% endblock content %}
