{% extends 'base.html' %}

{% load static %}

{% block titulo %}
  TdD&nbsp;&mdash;&nbsp;Empréstimos
{% endblock titulo %}

{% block content %}
<div class="container text-right">
  <form method="GET">
    <div class="row">
      <div class="col-6">
        <b>Pesquisar:</b>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" type="search" name="q" placeholder="Digite a palavra-chave e aperte &lt;Enter&gt;" value="{{ request.GET.q }}">
        </div>
      </div>
      <div class="col-1 text-left">
        <div class="form-group">
          <button class="form-control btn btn-light">
            <img src="{% static 'icones/search.png' %}" width="30" alt="Pesquisar">
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<h2 class="text-white bg-info">
  <div class="container">
    Lista de Empréstimos Efetuados
  </div>
</h2>

{% include 'emprestimo_novo_btn.html' %}
{% include 'emprestimo_paginador.html' %}

<div class="container">
  {% for emprestimo in emprestimos %}

  <div class="row">
    <div class="col-4 text-secondary">
      <small><b>
          Data do Empréstimo:
        </b></small><br>
      <a href="{% url 'url_emprestimo_edita' emprestimo.id %}" class="text-info">
        <p class="h4 text-info">{{ emprestimo.dt_emprestimo }}</p>
      </a>
    </div>
    <div class="col-4">
      <small><b>Data da Devolução:</b></small>
    </div>
      {{ emprestimo.dt_devolucao }}
    <div class="col-4">
      <small><b>Devolvido?</b></small><br>
        {% if emprestimo.devolvido %}
          <div class="text-succes">
            Devolvido
          </div>
        {% else %}
          <div class="text-danger">
            Livro Sem Devolução
          </div>
        {% endif %}
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <small><b>Livro:</b></small><br>
      {{emprestimo.livro}}
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <small><b>Irmão:</b></small>
      <br>
      {{emprestimo.user}}
    </div>
  </div>

  <div class="text-right">
    <a href="{% url 'url_emprestimo_edita' emprestimo.id %}"
        class="btn btn-light btn-sm">
      <img src="{% static 'icones/edit.png' %}" width="20"
        alt="editar">
    </a>
  </div>
  <hr>
  {% endfor %}
</div>

{% include 'irmao_paginador.html' %}
{% include 'irmao_novo_btn.html' %}

{% endblock content %}
