{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
  TdD&nbsp;&mdash;&nbsp;Novo Empréstimo de Livros
{% endblock titulo %}

{% block content %}
<h2 class="text-white bg-info">
  <div class="container">
    Biblioteca - Empréstimo
  </div>
</h2>

{% include 'home_bck_btn.html' %}

<div class="container">
  <form action="" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" name="salvairmao" class="btn btn-sm btn-info text-right">
      <img src="{% static 'icones/saved.png' %}" width="30" alt="Salvar">
      &nbsp;Salvar
    </button>
  </form>
</div>
{% include 'home_bck_btn.html' %}
<br><br>
{% endblock content %}
