{% extends 'base.html' %}
{% load static %}

{% block titulo %}
TdD&nbsp;&mdash;&nbsp;Fatos MaçÔnicos
{% endblock titulo %}

{% block content %}
<div class="container text-right">
  <form method="GET">
    <div class="row">
      <div class="col-6">
        <b>Pesquisar:</b>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" type="search" name="q" placeholder="Digite a palavra-chave e aperte &lt;Enter&gt;" value="{{ request.GET.q }}">
        </div>
      </div>
      <div class="col-1 text-left">
        <div class="form-group">
          <button class="form-control btn btn-light">
            <img src="{% static 'icones/search.png' %}" width="30" alt="Pesquisar">
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<h2 class="text-white bg-info">
  <div class="container">
    Fatos Maçônicos
  </div>
</h2>


{% include 'fato_novo_btn.html' %}
{% include 'fato_paginador.html' %}

<div class="container">
  {% for fato in fatos %}
  <div class="row">
    <div class="col-3 text-secondary align-middle">
      <small><b>Ano:</b></small>
        <a href="{% url 'url_fato_edita' fato.id %}" class="text-info">
        <p class="h4 text-info">{{fato.ano}} - Séc.
          {% if fato.seculo == "01" %}
            I
          {% elif fato.seculo == "02" %}
            II
          {% elif fato.seculo == "03" %}
            III
          {% elif fato.seculo == "04" %}
            IV
          {% elif fato.seculo == "05" %}
            V
          {% elif fato.seculo == "06" %}
            VI
          {% elif fato.seculo == "07" %}
            VII
          {% elif fato.seculo == "08" %}
            VIII
          {% elif fato.seculo == "09" %}
            IX
          {% elif fato.seculo == "10" %}
            X
          {% elif fato.seculo == "11" %}
            XI
          {% elif fato.seculo == "12" %}
            XII
          {% elif fato.seculo == "13" %}
            XIII
          {% elif fato.seculo == "14" %}
            XIV
          {% elif fato.seculo == "15" %}
            XV
          {% elif fato.seculo == "16" %}
            XVI
          {% elif fato.seculo == "17" %}
            XVII
          {% elif fato.seculo == "18" %}
            XVIII
          {% elif fato.seculo == "19" %}
            XIX
          {% elif fato.seculo == "20" %}
            XX
          {% elif fato.seculo == "21" %}
            XXI
          {% else %}
            --
          {% endif %}

          {% if fato.ac %}
           a.C.
          {% endif %}

        </p>
        </a>
    </div>
    <div class="col-4">
      <small><b>Data:</b></small><br>
      {% if not fato.dia %}
      Sem detalhes
      {% else %}
      {{fato.dia}}
      {% endif %}
    </div>
    <div class="col-5">
      <small><b>Tipo:</b></small><br>
      {% if fato.tipo == "Maç" %}
      Maçonaria Geral
      {% elif fato.tipo == "Maç Br" %}
      Maçonaria do Brasil
      {% elif fato.tipo == "Prof" %}

      História Profana relevante
      {% else %}
      N/A
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <small>
        <b>Fato:</b>
      </small>
      <p class="h4">
        {{fato.fato|safe}}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <small>
        <b>Descrição:</b>
      </small>
      {{fato.descricao|safe}}
    </div>
  </div>

  <div class="row">

    <div class="col-10">
      <small><b>Publicação:</b></small><br>
      <i>{{fato.publicacao}}</i>
    </div>
    <div class="col-2">
      <div class="text-center">
        <small><b>Pág.:</b></small><br>
        {{fato.pagina}}
      </div>
    </div>
  </div>
  <div class="text-right">
    <a href="{% url 'url_fato_apaga' fato.id %}" class="btn btn-light btn-sm">
      <img src="{% static 'icones/delete.png' %}" width="20" alt="home">
    </a>
    <a href="{% url 'url_fato_edita' fato.id %}" class="btn btn-light btn-sm">
      <img src="{% static 'icones/edit.png' %}" width="20" alt="home">
    </a>
  </div>
  <hr>
  {% endfor %}
</div>

{% include 'fato_paginador.html' %}
{% include 'fato_novo_btn.html' %}

{% endblock content %}
<p></p>
