{% load static %}
<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="container col-8 ">
      <div class="pagination">
        <span class="step-links">
          {% if fatos.has_previous %}
          <a class="btn btn-info btn-sm" href="?page=1">
            &lt;&lt;
          </a>
          <a class="btn btn-info btn-sm" href="?page={{fatos.previous_page_number }}&q={% if request.GET.q %}{{ request.GET.q }}{% endif %}">
            &lt;&nbsp;
          </a>
          {% else %}
          <a class="btn btn-secondary btn-sm" href="#">
            &lt;&lt;
          </a>
          <a class="btn btn-secondary btn-sm" href="#">
            &lt&nbsp;
          </a>
          {% endif %}

          <span class="current">
            <small>
              Pág. {{ fatos.number }} de {{ fatos.paginator.num_pages }}
            </small>
          </span>

          {% if fatos.has_next %}
          <a class="btn btn-info btn-sm" href="?page={{fatos.next_page_number }}&q={% if request.GET.q %}{{ request.GET.q }}{% endif %}">&gt;&nbsp;</a>
          <a class="btn btn-info btn-sm" href="?page={{ fatos.paginator.num_pages}}">&gt;&gt;</a>
          {% else %}
          <a class="btn btn-secondary btn-sm" href="#">&gt;&nbsp;</a>
          <a class="btn btn-secondary btn-sm" href="#">&gt;&gt;</a>
          {% endif %}
        </span>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>
