<!DOCTYPE html>

<html lang="pt_br" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>
    TdD #X- Relatório de Fatos Maçônicos
  </title>

  <style type="text/css">
    @page {
      size: auto;
      margin: 0;
      /*size: A4;
      margin-bottom: 2cm;
      margin-top: 1cm;
      margin-left: 1cm;
      margin-right: 1cm;*/
      orphans: 4;
      widows: 2;

      @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 5mm;
        top: 0cm;
        margin-left: 0cm;
        margin-right: 0cm;
        font-size: 10pt;
        /*
        display: inline;*/
        z-index: -1;
      }
    }

    @media print {

      html,
      body {
        margin: 2cm;
        font-family: Arial, sans-serif;
        text-align: justify;
        1cm margin: 1cm;
        padding: 1cm;
        margin-bottom: 5cm;
      }

      .footer {
        position: fixed;
        bottom: 0;
        padding-top: 1cm;
        font-size: 8pt;
      }
    }

    @media screen {
      footer.footer {
        display: none;
      }
    }

    /* Validação de Mídias
       ------------------- */

    /* CSS da Página
       ------------- */
    /* >>> As tags estão na ordem em que aparecem na página <<<*/

    /* >>> Com <<< */
    html,
    body {
      margin: 1mm;
      font-family: Arial, sans-serif;
      text-align: justify;
      margin-bottom: 2cm;
    }

    header {
      border-style: solid;
      border-width: thin;
      border-radius: 2mm;

    }

    h1 {
      font-size: 20pt;
      font-weight: bold;
      margin-left: 2mm;
      text-align: left
    }

    .logo {
      width: 30pt;
    }

    .sombra {
      text-shadow: 3px 3px #ccc;
    }

    .hr-cabecalho {
      width: 75%%;
      border-color: #ddd;
      padding: 0;
      margin: 0;
    }

    .verysmall {
      font-size: 10pt;
      font-style: italic;
      font-weight: lighter;
      width: 90%;
      padding: 0;
      margin: 0;
    }

    h2 {
      font-size: 20pt;
      font-weight: bolder;
      text-align: center;
      padding: 0;
      margin: 0;
      margin-top: 20pt;
      text-decoration: underline;
      text-decoration-style: double;
      text-decoration-color: #888;
    }

    .corpo {
      padding: 15pt;
      padding-bottom: 0;
      margin: 0;
    }

    .identifica {
      font-size: 16pt;
      border-bottom-style: solid;
      padding: 5pt;
      border-width: 1pt;
    }

    .num-ordem {
      font-size: 14pt;
      font-style: bolder;
      text-align: center;
      display: inline;
      border-style: solid;
      border-width: 1px;
      border-radius: 10pt;
      padding-right: 5pt;
      padding-left: 5pt;
      margin-right: 3pt;
      margin-right: 3pt;
      width: 10pt;
      background-color: #eee;
    }

    .normal {
      font-size: 13pt;
      font-style: normal;
      font-weight: normal;
      display: inline;
      margin-left: 10pt;
      display: inline;
      padding-left: 0;
    }

    .textobase {
      width: 95%;
      font-size: 12pt;
      margin: 0 auto;
      margin-left: 10pt;
      text-align: justify;
      page-break-after: auto;
      page-break-inside: avoid;
    }

    .dataExata {
      font-size: 9pt;
      font-style: normal;
      font-weight: lighter;
      float: right;
      text-align: right;
    }

    .texto-ficha {
      text-align: justify;
      font-size: 12pt;
    }

    .fonte-biblio {
      text-align: left;
      font-size: 10pt;
      padding: 1pt;
    }

    footer {
      display: flow-root;
      font-size: 8pt;
      font-weight: lighter;
      text-align: center;
      padding: 5mm;
      margin-bottom: 0cm;
      margin-top: 5mm;
      display: inline;
      padding-bottom: 15pt;
      height: 20pt;
    }

    .hr-rodape {
      width: 100%;
      border-color: #000;
      margin-botton: 3pt;
    }

    .copyleft {
      border-bottom: 1;
      border-width: 100%;
      font-size: 10pt;
      text-align: center;
    }

    .copy-left {
      display: inline-block;
      text-align: right;
      margin: 0px;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }

    /*
    .num-pag{
      text-align: right;
      text-size: 10pt;
      padding: 0;
      margin: 0;
      block: inline;
    }*/
  </style>
</head>

<body>
  <header>
    <h1>
      <img class="logo" src="{% static 'favicon/logo.png' %}" alt="#X" align="left" />
      <div class="sombra">
        Tábua de Delinear
        <hr class="hr-cabecalho" />
      </div>
      <div class="verysmall">
        Um programa de Fichas Bibliográficas Maçônicas
      </div>
    </h1>
  </header>
  <h2>Relatório&nbsp;&mdash;&nbsp;Fatos Maçônicos
  </h2>
  <div class="corpo">
    {% for fato in fatos %}
    <p class="identifica">

    <div class="num-ordem">
      {{ forloop.counter }}
    </div>
    <div class="normal">
      <b>
        {{ fato.ano }}&nbsp;&mdash;&nbsp;{{ fato.fato }}
      </b>
    </div>
    </p>
    <div class="textobase">
      {% if fato.dia %}
      <div class="dataExata">
        {{ fato.dia }}
      </div><br>
      {% endif %}

      <div class="texto-ficha">
        {{ fato.descricao|safe }}
      </div>

      <p class="fonte-biblio">
        <b>fonte:</b>
        <i>
          {{ fato.publicacao }}
        </i>
        {% if fato.pagina %}
        pág.
        {{ fato.pagina }}
        {% endif %}
      </p>
    </div>

    {% endfor %}
  </div>
  <footer class="footer">
    <hr class="hr-rodape">
    <div class="copyleft">
      <em>Copyleft</em>
      <span class="copy-left">&copy;</span> 2019 <i>by</i>
      <em>Ronaldo Silveira</em>&nbsp;&mdash;&nbsp;Versão 0.0.3&nbsp;&mdash;&nbsp;
      Distribuído sob os termos da <em>Licença GNU
        Affero GPL versão 3</em>
    </div>
  </footer>
</body>

</html>
