{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  TdD&nbsp;&mdash;&nbsp;Novo Fato
{% endblock titulo %}
{% block content %}
<h2 class="text-white bg-info">
  <div class="container">
    Fatos da História Maçônica
  </div>
</h2>

{% include 'home_bck_btn.html' %}

<div class="container">
  <form action="" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" name="salvafato" class="btn btn-sm btn-info text-right">
      <img src="{% static 'icones/saved.png' %}" width="30" alt="Salvar">
      &nbsp;Salvar
    </button>
  </form>
</div>

{% include 'home_bck_btn.html' %}
{% endblock content %}
