{% load static %}

<div class="container">
  <br>
  <div class="text-right">
    <a class="btn btn-info btn-sm" href="{% url 'url_home' %}" role="button">
      <img src="{% static 'icones/home.png' %}" width="20" alt="home">&nbsp;Home
    </a>
    &nbsp;&nbsp;
    <a class="btn btn-info btn-sm" href="{% url 'url_fato_novo' %}" role="button">
      <img src="{% static 'icones/note.png' %}" width="20" alt="Nova Ficha">&nbsp;Novo
    </a>
    <p></p>
  </div>
</div>
