{% extends 'base.html' %}
{% load static %}

{% block titulo %}
TdD&nbsp;&mdash;&nbsp;Fichas Maçônicos
{% endblock titulo %}

{% block content %}
<div class="container text-right">
  <form method="GET">
    <div class="row">
      <div class="col-6">
        <b>Pesquisar:</b>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" type="search" name="q" placeholder="Digite a palavra-chave e aperte &lt;Enter&gt;" value="{{ request.GET.q }}">
        </div>
      </div>
      <div class="col-1 text-left">
        <div class="form-group">
          <button class="form-control btn btn-light">
            <img src="{% static 'icones/search.png' %}" width="30" alt="Pesquisar">
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<h2 class="text-white bg-info">
  <div class="container">
    Fichas Maçônicas
  </div>
</h2>

{% include 'ficha_novo_btn.html' %}
{% include 'ficha_paginador.html' %}

<div class="container">
  {% for ficha in fichas%}
  <div class="row">
    <div class="col-10 text-secondary align-middle">
      <small><b>Título:</b></small><br>
      <a href="{% url 'url_ficha_edita' ficha.id %}" class="text-info">
        <p class="h4 text-info">{{ficha.ficha}}</p>
      </a>
    </div>
    <div class="col-2 text-center">
      <small><b>Grau:</b></small><br>
      {% if ficha.grau == "AM" %}
      A∴M∴
      {% elif ficha.grau == "CM" %}
      C∴M∴
      {% elif ficha.grau == "MM" %}
      M∴M∴
      {% elif ficha.grau == "MI" %}
      M∴I∴
      {% else %}
      N/A
      {% endif %}<br>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <small>
        <b>Texto:</b>
      </small><br>
      {{ficha.texto|safe}}
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <small><b>Publicação:</b></small><br>
      <small>
        <i>{{ficha.publicacao}}</i>
      </small>
    </div>
    <div class="col-2">
      <div class="text-center">
        <small><b>Pág.:</b></small><br>
        {{ficha.pagina}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% if ficha.img_ficha  %}
      <div class="container text-center">
        <img src="{{ficha.img_ficha}}" alt="{{ficha.ficha}}" width="50%" />
      </div>
      {% else %}
      <br>
      {% endif %}
    </div>
  </div>
  <div class="text-right">
    <a href="{% url 'url_ficha_apaga' ficha.id %}" class="btn btn-light btn-sm">
      <img src="{% static 'icones/delete.png' %}" width="20" alt="apagar">
    </a>
    <a href="{% url 'url_ficha_edita' ficha.id %}" class="btn btn-light btn-sm">
      <img src="{% static 'icones/edit.png' %}" width="20" alt="editar">
    </a>
  </div>
  <hr>
  {% endfor %}
</div>

{% include 'ficha_paginador.html' %}
{% include 'ficha_novo_btn.html' %}

{% endblock content %}
