{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2 class="text-white bg-info">
  <div class="container">
    Bem vindo
      {% if user.is_authenticated %}
        Ir&therefore;
      {% endif %}
  </div>
</h2>

{% if not user.is_authenticated %}
  <p>Para usufruir de todas as funcionalidades favor fazer o seu
    <a href="{% url 'login' %}" class="text-danger">logon</a>.
  </p>
{% else %}
  <p>Use o <i>Menu</i> acima, à direita do Cabeçalho, para acessar as funções
    principais.
  </p>
{% endif %}

<p class="h5 text-info">
  O que temos por aqui?
</p>
<p>Este é um programa que cadastra livros e fichas bibliográficas para pesquisa
  e estudos.
</p>
<div class="container-fluid bg-danger">
  <p class="text-center text-white h4">Atenção!!!</p>
  <div class="container bg-white">
    Este sistema é para uso pessoal do desenvolvedor.<br>
    Os livros cadastrados compõem minha biblioteca pessoal e as fichas são para
    estudo sendo o direito autoral de seu autor e/ou herdeiros.<bf>
  </div>
  <br>
</div>
<br>
<p>Para saber quais funcioanlaidades esta aplicação já tem, vá à pagina
  <a href="{% url 'url_sobre' %}" class="text-info">Sobre</a> ou visite o
  <a class="text-info" href="https://gitlab.com/irmaos/TdD.git"
    target="_blank">GitLab</a> do Projeto.
</p>

<p class="text-right"><i>Ronaldo Silveira</i></p>

{% endblock content %}
