{% extends 'base.html' %}

{% load static %}

{% block titulo %}
  TdD&nbsp;&mdash;&nbsp;Irmãos
{% endblock titulo %}

{% block content %}
<div class="container text-right">
  <form method="GET">
    <div class="row">
      <div class="col-6">
        <b>Pesquisar:</b>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" type="search" name="q" placeholder="Digite a palavra-chave e aperte &lt;Enter&gt;" value="{{ request.GET.q }}">
        </div>
      </div>
      <div class="col-1 text-left">
        <div class="form-group">
          <button class="form-control btn btn-light">
            <img src="{% static 'icones/search.png' %}" width="30" alt="Pesquisar">
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<h2 class="text-white bg-info">
  <div class="container">
    Lista de Irmãos Cadastrados
  </div>
</h2>

{% include 'irmao_novo_btn.html' %}
{% include 'irmao_paginador.html' %}

<div class="container">
  {% for irmao in users %}

  <div class="row">
    <div class="col-10 text-secondary">
      <small><b>
          Nome:
        </b></small><br>
      <a href="{% url 'url_irmao_edita' irmao.id %}" class="text-info">
        <p class="h4 text-info">{{irmao.user}}</p>
      </a>
    </div>
    <div class="col-2">
      <small><b>Grau:</b></small><br>
      {% if irmao.grau == "AM" %}
      A∴M∴
      {% elif irmao.grau == "CM" %}
      C∴M∴
      {% elif irmao.grau == "MM" %}
      M∴M∴
      {% elif irmao.grau == "MI" %}
      M∴I∴
      {% elif irmao.grau == "Fl" %}
      Filo∴
      {% elif irmao.grau == "Pr" %}
      Prof∴
      {% else %}
      N/A
      {% endif %}<br>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <small><b>loja:</b></small><br>
      {{irmao.loja}}
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <small><b>Potência:</b></small>
      <br>
      {{irmao.potencia}}
    </div>
  </div>

  <div class="text-right">
    <a href="{% url 'url_irmao_apaga' irmao.id %}" class="btn btn-light btn-sm">
      <img src="{% static 'icones/delete.png' %}" width="20" alt="apagar">
    </a>
    <a href="{% url 'url_irmao_edita' irmao.id %}" class="btn btn-light btn-sm">
      <img src="{% static 'icones/edit.png' %}" width="20" alt="editar">
    </a>
  </div>
  <hr>
  {% endfor %}
</div>

{% include 'irmao_paginador.html' %}
{% include 'irmao_novo_btn.html' %}

{% endblock content %}
