{% extends 'base.html' %}
{% load static %}

{% block titulo %}
TdD&nbsp;&mdash;&nbsp;AGPL v3
{% endblock titulo %}

{% block content %}
<h2 class="text-white bg-info">
  <div class="container">
    GNU/AGPL v3
  </div>
</h2>

{% include 'home_bck_btn.html' %}

<h2>Condições Gerais simplificadas</h2>

<p>Este software é Livre e é regido pela <b>Affero GPL v3</b>, e em relação
  ao <i>Software</i>, e todo o Código, você...
</p>

<p>
  <b>...tem as seguintes liberdades:</b>
</p>
<ul>
  <li>a liberdade de usar o software para qualquer finalidade,</li>
  <li>a liberdade de mudar o software de acordo com suas necessidades,</li>
  <li>a liberdade de compartilhar o software com seus amigos e vizinhos e</li>
  <li>a liberdade de compartilhar as mudanças que você faz.</li>
</ul>
<p>
  <b>...porém, você <em>não</em> pode:</b>
</p>
<ul>
  <li>modificar o código fonte e distribuir sob outra licença,</li>
  <li>distribuir este programa sem uma cópia da Licença AGPL v3 ou um link
    para ela</li>
  <li>distribuir versão modificada sem incluir o código-fonte ou um link
    para ele.</li>
</ul>

<p>Abaixo uma versão completa da licença e a tradução (<i>não ofiicial</i>)
  em Português do Brasil para os que tem dificuldade com o texto original em
  inglês.
</p>

<h3>Informação do Banco de Dados</h3>

<p>Para as informações desta aplicaçãovocê deve respeitar o sigilo previsto
  pelo seu Juramento, apesar da maioria das informações cadastradas
  estarem disponíveis na <i>Internet</i> e em Livrarias Profanas.
</p>

<h3>GNU AFFERO GENERAL PUBLIC LICENSE</h3>

<div class="row">
  <div class="col-6 col-12-small">

    <p>{% include 'flag_en.html' %}<br>
      Version 3, 19 November 2007</p>

    <p>Copyright &copy; 2007 Free Software Foundation,
      Inc. &lt;<a href="https://fsf.org/">https://fsf.org/</a>&gt;
      <br />
      Everyone is permitted to copy and distribute verbatim copies
      of this license document, but changing it is not allowed.</p>
  </div>

  <div class="col-6 col-12-small">
    <p>{% include 'flag_br.html' %}<br>
      Versão 3, 19 de Novembro de 2007</p>

    <p>Copyright &copy; 2007 Free Software Foundation, Inc. &lt;
      <a href="https://fsf.org/">https://fsf.org/</a>&gt;
      <br />
      Todos têm permissão para copiar e distribuir cópias integrais deste
      documento de licença, mas alterá-lo não é permitido.
      <br />
      Esta é uma Versão Não oficial em Português
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-h1small">
    <h3><a name="preamble"></a>
      {% include 'flag_en.html' %}
      Preamble</h3>

    <p>The GNU Affero General Public License is a free, copyleft license
      for software and other kinds of works, specifically designed to ensure
      cooperation with the community in the case of network server software.
    </p>

    <p>The licenses for most software and other practical works are
      designed to take away your freedom to share and change the works. By
      contrast, our General Public Licenses are intended to guarantee your
      freedom to share and change all versions of a program--to make sure it
      remains free software for all its users.
    </p>

    <p>When we speak of free software, we are referring to freedom, not
      price. Our General Public Licenses are designed to make sure that you
      have the freedom to distribute copies of free software (and charge for
      them if you wish), that you receive source code or can get it if you
      want it, that you can change the software or use pieces of it in new
      free programs, and that you know you can do these things.
    </p>

    <p>Developers that use our General Public Licenses protect your rights
      with two steps: (1) assert copyright on the software, and (2) offer
      you this License which gives you legal permission to copy, distribute
      and/or modify the software.
    </p>

    <p>A secondary benefit of defending all users' freedom is that
      improvements made in alternate versions of the program, if they
      receive widespread use, become available for other developers to
      incorporate. Many developers of free software are heartened and
      encouraged by the resulting cooperation. However, in the case of
      software used on network servers, this result may fail to come about.
      The GNU General Public License permits making a modified version and
      letting the publGBic access it on a server without ever releasing its
      source code to the public.
    </p>

    <p>The GNU Affero General Public License is designed specifically to
      ensure that, in such cases, the modified source code becomes available
      to the community. It requires the operator of a network server to
      provide the source code of the modified version running there to the
      users of that server. Therefore, public use of a modified version, on
      a publicly accessible server, gives the public access to the source
      code of the modified version.
    </p>

    <p>An older license, called the Affero General Public License and
      published by Affero, was designed to accomplish similar goals. This is
      a different license, not a version of the Affero GPL, but Affero has
      released a new version of the Affero GPL which permits relicensing under
      this license.
    </p>

    <p>The precise terms and conditions for copying, distribution and
      modification follow.
    </p>
  </div>

  <div class="col-6 col-12-small">
    <h3><a name="preamble"></a>
      {% include 'flag_br.html' %}
      Preâmbulo</h3>

    <p>A Licença Pública Geral GNU Affero é uma licença copyleft gratuita
      para software e outros tipos de obras, especificamente projetada para
      garantir a cooperação com a comunidade no caso de software de servidor
      de rede.
    </p>

    <p>As licenças para a maioria dos softwares e outros trabalhos práticos
      são projetadas para tirar sua liberdade de compartilhar e alterar os
      trabalhos. Por outro lado, nossas Licenças Públicas Gerais destinam-se
      a garantir a sua liberdade de compartilhar e alterar todas as versões
      de um programa - para garantir que permaneça software livre para todos
      os seus usuários.
    </p>

    <p>Quando falamos de software livre, estamos nos referindo à liberdade,
      não ao preço. Nossas Licenças Públicas Gerais são projetadas para
      garantir que você tenha a liberdade de distribuir cópias de software
      livre (e cobrar por elas, se desejar), receber o código-fonte ou obtê-lo,
      se quiser, alterar o software ou use pedaços dele em novos programas
      gratuitos, e você sabe que pode fazer essas coisas.
    </p>

    <p>Os desenvolvedores que usam nossas Licenças Públicas Gerais protegem
      seus direitos com duas etapas: (1) declarar direitos autorais sobre o
      software e (2) oferecer a você esta Licença que lhe dá permissão legal
      para copiar, distribuir e/ou modificar o software.
    </p>

    <p>Um benefício secundário de defender a liberdade de todos os usuários
      é que as melhorias feitas em versões alternativas do programa, se elas
      forem amplamente usadas, ficam disponíveis para outros desenvolvedores
      incorporarem. Muitos desenvolvedores de software livre são encorajados
      e encorajados pela cooperação resultante. No entanto, no caso de software
      usado em servidores de rede, esse resultado pode não acontecer. A Licença
      Pública Geral GNU permite fazer uma versão modificada e permitir que o
      público a acesse em um servidor sem nunca liberar seu código fonte para
      o público.
    </p>

    <p>A Licença Pública Geral GNU Affero foi projetada especificamente para
      garantir que, em tais casos, o código-fonte modificado fique disponível
      para a comunidade. Ele requer que o operador de um servidor de rede
      forneça o código-fonte da versão modificada em execução para os usuários
      desse servidor. Portanto, o uso público de uma versão modificada, em um
      servidor publicamente acessível, fornece ao público acesso ao código-fonte
      da versão modificada.
    </p>

    <p>Uma licença mais antiga, chamada Affero General Public License e
      publicada pela Affero, foi projetada para atingir objetivos semelhantes.
      Esta é uma licença diferente, não uma versão do Affero GPL, mas Affero
      lançou uma nova versão do Affero GPL que permite o licenciamento sob
      esta licença.
    </p>

    <p>Os termos e condições precisos para cópia, distribuição e modificação
      seguem.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h3><a name="terms"></a>
      {% include 'flag_en.html' %}
      TERMS AND CONDITIONS</h3>

    <h4><a name="section0"></a>0. Definitions.</h4>

    <p>&quot;This License&quot; refers to version 3 of the GNU Affero General
      Public License.
    </p>

    <p>&quot;Copyright&quot; also means copyright-like laws that apply to other
      kinds of works, such as semiconductor masks.
    </p>

    <p>&quot;The Program&quot; refers to any copyrightable work licensed under
      this License. Each licensee is addressed as &quot;you&quot;. &quot;
      Licensees&quot; and &quot;recipients&quot; may be individuals or
      organizations.
    </p>

    <p>To &quot;modify&quot; a work means to copy from or adapt all or part
      of the work in a fashion requiring copyright permission, other than the
      making of an exact copy. The resulting work is called a &quot;modified
      version&quot; of the earlier work or a work &quot;based on&quot; the
      earlier work.
    </p>

    <p>A &quot;covered work&quot; means either the unmodified Program or a
      work based on the Program.
    </p>

    <p>To &quot;propagate&quot; a work means to do anything with it that,
      without permission, would make you directly or secondarily liable for
      infringement under applicable copyright law, except executing it on a
      computer or modifying a private copy. Propagation includes copying,
      distribution (with or without modification), making available to the
      public, and in some countries other activities as well.
    </p>

    <p>To &quot;convey&quot; a work means any kind of propagation that enables
      other parties to make or receive copies. Mere interaction with a user
      through a computer network, with no transfer of a copy, is not conveying.
    </p>

    <p>An interactive user interface displays &quot;Appropriate Legal Notices&quot;
      to the extent that it includes a convenient and prominently visible
      feature that (1) displays an appropriate copyright notice, and (2)
      tells the user that there is no warranty for the work (except to the
      extent that warranties are provided), that licensees may convey the
      work under this License, and how to view a copy of this License. If
      the interface presents a list of user commands or options, such as a
      menu, a prominent item in the list meets this criterion.</p>
  </div>


  <div class="col-6 col-12-small">
    <h3><a name="terms"></a>
      {% include 'flag_br.html' %}
      TERMOS E CONDIÇÕES</h3>

    <h4><a name="section0"></a>0. Definições.</h4>

    <p>"Esta Licença" refere-se à versão 3 da Licença Pública Geral GNU Affero.
    </p>

    <p>"Copyright" também significa leis semelhantes a direitos autorais que
      se aplicam a outros tipos de trabalhos, como máscaras de semicondutores.
    </p>

    <p>"O Programa" refere-se a qualquer trabalho com direitos autorais
      licenciado sob esta Licença. Cada licenciado é endereçado como "você".
      "Licenciados" e "destinatários" podem ser indivíduos ou organizações.
    </p>

    <p>"Modificar" um trabalho significa copiar ou adaptar todo ou parte do
      trabalho de uma maneira que exija permissão de direitos autorais, além
      da cópia exata. O trabalho resultante é chamado de "versão modificada"
      do trabalho anterior ou de um trabalho "baseado no" trabalho anterior.
    </p>

    <p>Um "trabalho coberto" significa o Programa não modificado ou um
      trabalho baseado no Programa.
    </p>

    <p>A propagação inclui cópia, distribuição (com ou sem modificação),
      disponibilização para o público e, em alguns países, outras atividades
      também.
    </p>

    <p>Para "transmitir" um trabalho significa qualquer tipo de propagação
      que permita que outras partes façam ou recebam cópias. Mera interação
      com um usuário através de uma rede de computadores, sem transferência
      de uma cópia, não está transmitindo.
    </p>

    <p>Uma interface de usuário interativa exibe "Avisos Legais Apropriados"
      na medida em que inclui um recurso visível e proeminente visível que
      <sup>(1)</sup> exibe um aviso de copyright apropriado e (2) informa ao
      usuário que não há garantia para o trabalho (exceto na medida em que as
      garantias são fornecidas), que os licenciados podem transmitir o
      trabalho sob esta Licença e como visualizar uma cópia desta Licença. Se
      a interface apresentar uma lista de comandos ou opções do usuário,
      como um menu, um item de destaque na lista atenderá a esse critério.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section1"></a>
      {% include 'flag_en.html' %}
      1. Source Code.</h4>

    <p>The &quot;source code&quot; for a work means the preferred form of the
      work for making modifications to it. &quot;Object code&quot; means any
      non-source form of a work.
    </p>

    <p>A &quot;Standard Interface&quot; means an interface that either is an
      official standard defined by a recognized standards body, or, in the
      case of interfaces specified for a particular programming language, one
      that is widely used among developers working in that language.
    </p>

    <p>The &quot;System Libraries&quot; of an executable work include anything,
      other than the work as a whole, that (a) is included in the normal form
      of packaging a Major Component, but which is not part of that Major
      Component, and (b) serves only to enable use of the work with that
      Major Component, or to implement a Standard Interface for which an
      implementation is available to the public in source code form. A
      &quot;Major Component&quot;, in this context, means a major essential
      component (kernel, window system, and so on) of the specific operating
      system (if any) on which the executable work runs, or a compiler used to
      produce the work, or an object code interpreter used to run it.
    </p>

    <p>The &quot;Corresponding Source&quot; for a work in object code form
      means all the source code needed to generate, install, and (for an
      executable work) run the object code and to modify the work, including
      scripts to control those activities. However, it does not include the
      work's System Libraries, or general-purpose tools or generally available
      free programs which are used unmodified in performing those activities
      but which are not part of the work. For example, Corresponding Source
      includes interface definition files associated with source files for
      the work, and the source code for shared libraries and dynamically
      linked subprograms that the work is specifically designed to require,
      such as by intimate data communication or control flow between those
      subprograms and other parts of the work.
    </p>

    <p>The Corresponding Source need not include anything that users
      can regenerate automatically from other parts of the Corresponding
      Source.
    </p>

    <p>The Corresponding Source for a work in source code form is that
      same work.
    </p>
  </div>


  <div class="col-6 col-12-small">
    <h4><a name="section1"></a>
      {% include 'flag_br.html' %}
      1. Código Fonte.</h4>


    <p>O "código-fonte" de um trabalho significa a forma preferida do trabalho
      para fazer modificações nele. "Código de objeto" significa qualquer
      forma de não-fonte de uma obra.
    </p>

    <p>Uma "Interface Padrão" significa uma interface que é um padrão oficial
      definido por um corpo de padrões reconhecido ou, no caso de interfaces
      especificadas para uma linguagem de programação específica, uma que é
      amplamente utilizada entre os desenvolvedores que trabalham nesse idioma.
    </p>

    <p>As "Bibliotecas do sistema" de um trabalho executável incluem qualquer
      coisa, além do trabalho como um todo, que (a) está incluída na forma
      normal de empacotar um Componente Principal, mas que não faz parte desse
      Componente Principal, e <sup>(b)</sup> serve apenas para permitir o uso
      do trabalho com esse Componente Principal ou para implementar uma Interface
      Padrão para a qual uma implementação está disponível para o público na
      forma de código-fonte. Um "Componente Principal", nesse contexto,
      significa um componente essencial principal (kernel, sistema de janelas
      e assim por diante) do sistema operacional específico (se houver) no
      qual o trabalho executável é executado ou um compilador usado para
      produzir o trabalho, ou um intérprete de código de objeto usado para
      executá-lo.
    </p>

    <p>A "Fonte Correspondente" para um trabalho em forma de código objeto
      significa todo o código-fonte necessário para gerar, instalar e (para
      um trabalho executável) executar o código do objeto e modificar o trabalho,
      incluindo scripts para controlar essas atividades. No entanto, ele não
      inclui as Bibliotecas do Sistema do trabalho ou ferramentas de uso geral
      ou programas gratuitos geralmente disponíveis que são usados ​​sem
      modificações na execução dessas atividades, mas que não fazem parte do
      trabalho. Por exemplo, Origem Correspondente inclui arquivos de definição
      de interface associados a arquivos fonte para o trabalho e o código-fonte
      para bibliotecas compartilhadas e subprogramas vinculados dinamicamente
      que o trabalho é especificamente projetado para exigir, como comunicação
      íntima de dados ou fluxo de controle entre esses subprogramas outras
      partes do trabalho.
    </p>

    <p>A Fonte Correspondente não precisa incluir nada que os usuários possam
      gerar automaticamente a partir de outras partes da Fonte Correspondente.
    </p>

    <p>A fonte correspondente para um trabalho na forma de código-fonte é o
      mesmo trabalho.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section2"></a>
      {% include 'flag_en.html' %}
      2. Basic Permissions.</h4>

    <p>All rights granted under this License are granted for the term of
      copyright on the Program, and are irrevocable provided the stated
      conditions are met. This License explicitly affirms your unlimited
      permission to run the unmodified Program. The output from running a
      covered work is covered by this License only if the output, given its
      content, constitutes a covered work. This License acknowledges your
      rights of fair use or other equivalent, as provided by copyright law.
    </p>

    <p>You may make, run and propagate covered works that you do not
      convey, without conditions so long as your license otherwise remains
      in force. You may convey covered works to others for the sole purpose
      of having them make modifications exclusively for you, or provide you
      with facilities for running those works, provided that you comply with
      the terms of this License in conveying all material for which you do
      not control copyright. Those thus making or running the covered works
      for you must do so exclusively on your behalf, under your direction
      and control, on terms that prohibit them from making any copies of
      your copyrighted material outside their relationship with you.
    </p>

    <p>Conveying under any other circumstances is permitted solely under
      the conditions stated below. Sublicensing is not allowed; section 10
      makes it unnecessary.
    </p>
  </div>


  <div class="col-6 col-12-small">
    <h4><a name="section2"></a>
      {% include 'flag_br.html' %}
      2. Permissões Básicas.</h4>

    <p>Todos os direitos concedidos sob esta Licença são concedidos pelo prazo
      de copyright do Programa e são irrevogáveis ​​desde que as condições
      estabelecidas sejam cumpridas. Esta Licença afirma explicitamente sua
      permissão ilimitada para executar o Programa não modificado. A saída da
      execução de um trabalho coberto é coberta por esta Licença somente se
      a saída, dado seu conteúdo, constituir um trabalho coberto. Esta Licença
      reconhece os seus direitos de uso justo ou equivalente, conforme previsto
      pela lei de direitos autorais.
    </p>

    <p>Você pode fazer, executar e propagar obras cobertas que você não
      transmite, sem condições, desde que sua licença permaneça em vigor.
      Você pode transmitir trabalhos cobertos a terceiros com o único propósito
      de fazer modificações exclusivamente para você ou fornecer a você
      instalações para executar esses trabalhos, desde que cumpra os termos
      desta Licença ao transmitir todo o material para o qual você não controla
      direito autoral. Aqueles que fazem ou executam as obras cobertas para
      você devem fazê-lo exclusivamente em seu nome, sob sua direção e controle,
      em termos que os proíbam de fazer cópias de seu material protegido por
      direitos autorais fora de seu relacionamento com você.
    </p>

    <p>Transmitir sob quaisquer outras circunstâncias é permitido somente sob
      as condições estabelecidas abaixo. Sublicenciamento não é permitido; a
      seção 10 torna desnecessária.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section3"></a>
      {% include 'flag_en.html' %}
      3. Protecting Users' Legal Rights From Anti-Circumvention Law.
    </h4>

    <p>No covered work shall be deemed part of an effective technological
      measure under any applicable law fulfilling obligations under article
      11 of the WIPO copyright treaty adopted on 20 December 1996, or
      similar laws prohibiting or restricting circumvention of such
      measures.
    </p>

    <p>When you convey a covered work, you waive any legal power to forbid
      circumvention of technological measures to the extent such circumvention
      is effected by exercising rights under this License with respect to
      the covered work, and you disclaim any intention to limit operation or
      modification of the work as a means of enforcing, against the work's
      users, your or third parties' legal rights to forbid circumvention of
      technological measures.
    </p>
  </div>

  <div class="col-6 col-12-small">
    <h4><a name="section3"></a>
      {% include 'flag_br.html' %}
      3. Protegendo os direitos legais dos usuários da lei anti-evasão.
    </h4>

    <p>Nenhum trabalho coberto será considerado parte de uma medida tecnológica
      efetiva sob qualquer lei aplicável que cumpra as obrigações previstas
      no artigo 11 do tratado de direitos autorais da OMPI adotado em 20 de
      dezembro de 1996, ou leis semelhantes que proíbam ou restrinjam a evasão
      de tais medidas.
    </p>

    <p>Quando você transmite um trabalho coberto, você renuncia a qualquer
      poder legal para proibir contornar medidas tecnológicas na medida em que
      tal desvio é efetuado pelo exercício dos direitos sob esta Licença em
      relação ao trabalho coberto, e você renuncia a qualquer intenção de
      limitar a operação ou modificação do trabalhar como forma de fazer valer,
      contra os usuários da obra, os direitos legais de você ou de terceiros
      de proibir a evasão de medidas tecnológicas.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section4"></a>
      {% include 'flag_en.html' %}
      4. Conveying Verbatim Copies.</h4>

    <p>You may convey verbatim copies of the Program's source code as you
      receive it, in any medium, provided that you conspicuously and
      appropriately publish on each copy an appropriate copyright notice;
      keep intact all notices stating that this License and any
      non-permissive terms added in accord with section 7 apply to the code;
      keep intact all notices of the absence of any warranty; and give all
      recipients a copy of this License along with the Program.
    </p>

    <p>You may charge any price or no price for each copy that you convey,
      and you may offer support or warranty protection for a fee.
    </p>
  </div>

  <div class="col-6 col-12-small">
    <h4><a name="section4"></a>
      {% include 'flag_br.html' %}
      4. Transmitindo Cópias Verbatim.</h4>

    <p>Você pode transmitir cópias integrais do código-fonte do Programa à
      medida que você o recebe, em qualquer meio, desde que publique de forma
      visível e apropriada em cada cópia um aviso de direitos autorais apropriado;
      manter intactos todos os avisos declarando que esta Licença e quaisquer
      termos não permissivos adicionados de acordo com a seção 7 se aplicam
      ao código; manter intactas todas as notificações de ausência de garantia;
      e dê a todos os destinatários uma cópia desta Licença junto com o Programa.
    </p>

    <p>Você pode cobrar qualquer preço ou nenhum preço por cada cópia
      transmitida e poderá oferecer suporte ou garantia mediante pagamento de
      uma taxa.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section5"></a>
      {% include 'flag_en.html' %}
      5. Conveying Modified Source Versions.</h4>

    <p>You may convey a work based on the Program, or the modifications to
      produce it from the Program, in the form of source code under the
      terms of section 4, provided that you also meet all of these conditions:
    </p>

    <ul>
      <li>a) The work must carry prominent notices stating that you modified
        it, and giving a relevant date.</li>

      <li>b) The work must carry prominent notices stating that it is
        released under this License and any conditions added under section
        7. This requirement modifies the requirement in section 4 to
        &quot;keep intact all notices&quot;.</li>

      <li>c) You must license the entire work, as a whole, under this
        License to anyone who comes into possession of a copy. This
        License will therefore apply, along with any applicable section 7
        additional terms, to the whole of the work, and all its parts,
        regardless of how they are packaged. This License gives no
        permission to license the work in any other way, but it does not
        invalidate such permission if you have separately received it.</li>

      <li>d) If the work has interactive user interfaces, each must display
        Appropriate Legal Notices; however, if the Program has interactive
        interfaces that do not display Appropriate Legal Notices, your
        work need not make them do so.</li>

    </ul>

    <p>A compilation of a covered work with other separate and independent
      works, which are not by their nature extensions of the covered work,
      and which are not combined with it such as to form a larger program,
      in or on a volume of a storage or distribution medium, is called an
      &quot;aggregate&quot; if the compilation and its resulting copyright are not
      used to limit the access or legal rights of the compilation's users
      beyond what the individual works permit. Inclusion of a covered work
      in an aggregate does not cause this License to apply to the other
      parts of the aggregate.</p>
  </div>

  <div class="col-6 col-12-small">
    <h4><a name="section5"></a>
      {% include 'flag_br.html' %}
      5. Transmitindo Versões Fonte Modificadas.</h4>

    <p>Você pode transmitir um trabalho baseado no Programa, ou as modificações
      para produzi-lo a partir do Programa, na forma de código-fonte, nos
      termos da seção 4, desde que você também atenda a todas estas condições:
    </p>

    <ul>
      <li>a) O trabalho deve conter avisos proeminentes indicando que você o
        modificou e dando uma data relevante.
      </li>

      <li>b) O trabalho deve conter avisos proeminentes indicando que ele é
        liberado sob esta Licença e quaisquer condições adicionadas sob a
        seção 7. Este requisito modifica a exigência na seção 4 de "manter
        intactas todas as notificações".
      </li>

      <li>c) Você deve licenciar todo o trabalho, como um todo, sob esta Licença
        para qualquer pessoa que possua uma cópia. Esta Licença, portanto,
        aplicará, juntamente com qualquer seção aplicável, 7 termos adicionais,
        a todo o trabalho e a todas as suas partes, independentemente de como
        eles são empacotados. Esta Licença não dá permissão para licenciar o
        trabalho de qualquer outra forma, mas não invalida tal permissão se
        você a recebeu separadamente.
      </li>

      <li>d) Se o trabalho tiver interfaces de usuário interativas, cada um
        deve exibir Avisos Legais Apropriados; no entanto, se o Programa tiver
        interfaces interativas que não exibam Notificações Legais Apropriadas,
        seu trabalho não precisará fazê-las.
      </li>
    </ul>

    <p>Uma compilação de um trabalho coberto com outras obras separadas e
      independentes, que não são, por natureza, extensões do trabalho coberto,
      e que não são combinadas com ele, de modo a formar um programa maior,
      dentro ou sobre um volume de armazenamento ou distribuição meio, é chamado
      de "agregado" se a compilação e seus direitos autorais resultantes não
      forem usados ​​para limitar o acesso ou os direitos legais dos usuários
      da compilação além do que o indivíduo trabalha permitir. A inclusão de
      um trabalho coberto em um agregado não faz com que esta Licença seja
      aplicada às outras partes do agregado.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section6"></a>
      {% include 'flag_en.html' %}
      6. Conveying Non-Source Forms.</h4>

    <p>You may convey a covered work in object code form under the terms
      of sections 4 and 5, provided that you also convey the
      machine-readable Corresponding Source under the terms of this License,
      in one of these ways:
    </p>

    <ul>
      <li>a) Convey the object code in, or embodied in, a physical product
        (including a physical distribution medium), accompanied by the
        Corresponding Source fixed on a durable physical medium
        customarily used for software interchange.
      </li>

      <li>b) Convey the object code in, or embodied in, a physical product
        (including a physical distribution medium), accompanied by a
        written offer, valid for at least three years and valid for as
        long as you offer spare parts or customer support for that product
        model, to give anyone who possesses the object code either (1) a
        copy of the Corresponding Source for all the software in the
        product that is covered by this License, on a durable physical
        medium customarily used for software interchange, for a price no
        more than your reasonable cost of physically performing this
        conveying of source, or (2) access to copy the
        Corresponding Source from a network server at no charge.
      </li>

      <li>c) Convey individual copies of the object code with a copy of the
        written offer to provide the Corresponding Source. This
        alternative is allowed only occasionally and noncommercially, and
        only if you received the object code with such an offer, in accord
        with subsection 6b.
      </li>

      <li>d) Convey the object code by offering access from a designated
        place (gratis or for a charge), and offer equivalent access to the
        Corresponding Source in the same way through the same place at no
        further charge. You need not require recipients to copy the
        Corresponding Source along with the object code. If the place to
        copy the object code is a network server, the Corresponding Source
        may be on a different server (operated by you or a third party)
        that supports equivalent copying facilities, provided you maintain
        clear directions next to the object code saying where to find the
        Corresponding Source. Regardless of what server hosts the
        Corresponding Source, you remain obligated to ensure that it is
        available for as long as needed to satisfy these requirements.
      </li>

      <li>e) Convey the object code using peer-to-peer transmission, provided
        you inform other peers where the object code and Corresponding
        Source of the work are being offered to the general public at no
        charge under subsection 6d.
      </li>
    </ul>

    <p>A separable portion of the object code, whose source code is excluded
      from the Corresponding Source as a System Library, need not be
      included in conveying the object code work.
    </p>

    <p>A &quot;User Product&quot; is either (1) a &quot;consumer product&quot;,
      which means any tangible personal property which is normally used for
      personal, family, or household purposes, or (2) anything designed or
      sold for incorporation into a dwelling. In determining whether a product
      is a consumer product,
      doubtful cases shall be resolved in favor of coverage. For a particular
      product received by a particular user, &quot;normally used&quot; refers
      to a typical or common use of that class of product, regardless of the
      status of the particular user or of the way in which the particular user
      actually uses, or expects or is expected to use, the product. A product
      is a consumer product regardless of whether the product has substantial
      commercial, industrial or non-consumer uses, unless such uses represent
      the only significant mode of use of the product.
    </p>

    <p>&quot;Installation Information&quot; for a User Product means any methods,
      procedures, authorization keys, or other information required to install
      and execute modified versions of a covered work in that User Product from
      a modified version of its Corresponding Source. The information must
      suffice to ensure that the continued functioning of the modified object
      code is in no case prevented or interfered with solely because
      modification has been made.
    </p>

    <p>If you convey an object code work under this section in, or with, or
      specifically for use in, a User Product, and the conveying occurs as
      part of a transaction in which the right of possession and use of the
      User Product is transferred to the recipient in perpetuity or for a
      fixed term (regardless of how the transaction is characterized), the
      Corresponding Source conveyed under this section must be accompanied
      by the Installation Information. But this requirement does not apply
      if neither you nor any third party retains the ability to install
      modified object code on the User Product (for example, the work has
      been installed in ROM).
    </p>

    <p>The requirement to provide Installation Information does not include a
      requirement to continue to provide support service, warranty, or updates
      for a work that has been modified or installed by the recipient, or for
      the User Product in which it has been modified or installed. Access to a
      network may be denied when the modification itself materially and
      adversely affects the operation of the network or violates the rules and
      protocols for communication across the network.
    </p>

    <p>Corresponding Source conveyed, and Installation Information provided,
      in accord with this section must be in a format that is publicly
      documented (and with an implementation available to the public in
      source code form), and must require no special password or key for
      unpacking, reading or copying.
    </p>
  </div>


  <div class="col-6 col-12-small">
    <h4><a name="section6"></a>
      {% include 'flag_br.html' %}
      6. Transmitindo Formulários Não Originais.</h4>

    <p>Você pode transmitir um trabalho coberto em forma de código objeto sob
      os termos das seções 4 e 5, desde que você também transmita a Fonte
      Correspondente legível por máquina sob os termos desta Licença, de uma
      das seguintes formas:
    </p>

    <ul>
      <li>a) Transmitir o código objeto ou incorporá-lo em um produto físico
        (incluindo um meio físico de distribuição), acompanhado pela Fonte
        Correspondente fixada em um meio físico durável normalmente usado para
        troca de software.
      </li>

      <li>b) Transmitir o código objeto ou incorporado em um produto físico
        (incluindo um meio físico de distribuição), acompanhado por uma oferta
        por escrito, válida por pelo menos três anos e válida por tanto tempo
        quanto você oferecer peças de reposição ou suporte ao cliente modelo
        do produto, para dar a qualquer pessoa que possua o código objeto
        <sup>(1)</sup> uma cópia da Fonte Correspondente para todo o software
        no produto coberto por esta Licença, em um meio físico durável
        normalmente usado para troca de software, por um preço não mais do
        que seu custo razoável de realizar fisicamente este transporte de
        fonte, ou (2) acesso para copiar a Fonte Correspondente de um servidor
        de rede sem nenhum custo.
      </li>

      <li>c) Transmitir cópias individuais do código objeto com uma cópia da
        oferta por escrito para fornecer a Fonte Correspondente. Esta
        alternativa é permitida apenas ocasionalmente e não comercialmente,
        e somente se você recebeu o código objeto com tal oferta, de acordo
        com a subseção 6b.
      </li>

      <li>d) Transmitir o código objeto, oferecendo acesso a partir de um
        local designado (grátis ou por uma taxa), e oferecer acesso equivalente
        à Fonte Correspondente da mesma forma no mesmo local, sem custo
        adicional. Você não precisa exigir que os destinatários copiem a Fonte
        Correspondente junto com o código do objeto. Se o local para copiar o
        código objeto for um servidor de rede, a Fonte Correspondente poderá
        estar em um servidor diferente (operado por você ou por terceiros)
        que ofereça suporte a recursos de cópia equivalentes, desde que você
        mantenha direções claras ao lado do código do objeto. encontrar a
        fonte correspondente. Independentemente de qual servidor hospeda a
        Fonte Correspondente, você permanece obrigado a garantir que esteja
        disponível pelo tempo necessário para atender a esses requisitos.
      </li>

      <li>e) Transmitir o código objeto usando a transmissão peer-to-peer,
        contanto que você informe a outros pares onde o código objeto e a
        Fonte Correspondente da obra estão sendo oferecidos ao público em
        geral sem custo sob a subseção 6d.
      </li>
    </ul>

    <p>Uma parte separável do código de objeto, cujo código-fonte é excluído
      da Fonte Correspondente como uma Biblioteca do Sistema, não precisa ser
      incluída na transmissão do trabalho do código de objeto.
    </p>

    <p>Um "Produto do Usuário" é (1) um "produto de consumo", que significa
      qualquer propriedade pessoal tangível que é normalmente usada para fins
      pessoais, familiares ou domésticos, ou (2) qualquer coisa projetada ou
      vendida para incorporação em uma residência. Ao determinar se um produto
      é um produto de consumo, os casos duvidosos devem ser resolvidos em
      favor da cobertura. Para um produto específico recebido por um usuário
      específico, "normalmente usado" refere-se a um uso típico ou comum dessa
      classe de produto, independentemente do status do usuário específico ou
      da maneira como o usuário em particular usa, ou espera ou é esperado
      para usar, o produto. Um produto é um produto de consumo, independentemente
      de o produto ter um uso substancial comercial, industrial ou não.
    </p>

    <p>"Informações de Instalação" para um Produto do Usuário significa
      quaisquer métodos, procedimentos, chaves de autorização ou outras
      informações necessárias para instalar e executar versões modificadas
      de um trabalho coberto nesse Produto do Usuário a partir de uma versão
      modificada de sua Origem Correspondente. As informações devem ser
      suficientes para garantir que o funcionamento contínuo do código objeto
      modificado não seja impedido ou interferido somente porque a modificação
      foi feita.
    </p>

    <p>Se você transmitir um trabalho com código objeto sob esta seção em,
      ou com, ou especificamente para uso em um Produto do Usuário, e o
      transporte ocorrer como parte de uma transação na qual o direito de
      posse e uso do Produto do Usuário é transferido para o destinatário em
      perpetuidade ou por um prazo fixo (independentemente de como a transação
      é caracterizada), a Fonte Correspondente transmitida sob esta seção
      deve ser acompanhada pela Informação de Instalação. Mas esse requisito
      não se aplica se nem você nem qualquer terceiro mantiver a capacidade
      de instalar o código de objeto modificado no Produto do Usuário (por
      exemplo, o trabalho foi instalado na ROM).
    </p>

    <p>O requisito para fornecer Informações de Instalação não inclui um
      requisito para continuar a fornecer serviço de suporte, garantia ou
      atualizações para um trabalho que tenha sido modificado ou instalado
      pelo destinatário ou para o Produto do Usuário no qual ele foi
      modificado ou instalado. O acesso a uma rede pode ser negado quando a
      modificação em si afeta materialmente e adversamente a operação da rede
      ou viola as regras e protocolos de comunicação na rede.
    </p>

    <p>A Fonte Correspondente transmitida e as Informações de Instalação
      fornecidas, de acordo com esta seção, devem estar em um formato
      documentado publicamente (e com uma implementação disponível para o
      público na forma de código-fonte) e não precisar de senha ou chave
      especial para descompactar, ler ou copiando.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section7"></a>
      {% include 'flag_en.html' %}
      7. Additional Terms.</h4>

    <p>&quot;Additional permissions&quot; are terms that supplement the terms
      of this License by making exceptions from one or more of its conditions.
      Additional permissions that are applicable to the entire Program shall
      be treated as though they were included in this License, to the extent
      that they are valid under applicable law. If additional permissions
      apply only to part of the Program, that part may be used separately
      under those permissions, but the entire Program remains governed by
      this License without regard to the additional permissions.
    </p>

    <p>When you convey a copy of a covered work, you may at your option
      remove any additional permissions from that copy, or from any part of
      it. (Additional permissions may be written to require their own
      removal in certain cases when you modify the work.) You may place
      additional permissions on material, added by you to a covered work,
      for which you have or can give appropriate copyright permission.
    </p>

    <p>Notwithstanding any other provision of this License, for material you
      add to a covered work, you may (if authorized by the copyright holders
      of that material) supplement the terms of this License with terms:
    </p>

    <ul>
      <li>a) Disclaiming warranty or limiting liability differently from the
        terms of sections 15 and 16 of this License; or
      </li>

      <li>b) Requiring preservation of specified reasonable legal notices or
        author attributions in that material or in the Appropriate Legal
        Notices displayed by works containing it; or
      </li>

      <li>c) Prohibiting misrepresentation of the origin of that material, or
        requiring that modified versions of such material be marked in
        reasonable ways as different from the original version; or
      </li>

      <li>d) Limiting the use for publicity purposes of names of licensors or
        authors of the material; or
      </li>

      <li>e) Declining to grant rights under trademark law for use of some
        trade names, trademarks, or service marks; or
      </li>

      <li>f) Requiring indemnification of licensors and authors of that
        material by anyone who conveys the material (or modified versions of
        it) with contractual assumptions of liability to the recipient, for
        any liability that these contractual assumptions directly impose on
        those licensors and authors.
      </li>
    </ul>

    <p>All other non-permissive additional terms are considered &quot;further
      restrictions&quot; within the meaning of section 10. If the Program as
      you received it, or any part of it, contains a notice stating that it is
      governed by this License along with a term that is a further restriction,
      you may remove that term. If a license document contains a further
      restriction but permits relicensing or conveying under this License, you
      may add to a covered work material governed by the terms of that license
      document, provided that the further restriction does not survive such
      relicensing or conveying.
    </p>

    <p>If you add terms to a covered work in accord with this section, you
      must place, in the relevant source files, a statement of the
      additional terms that apply to those files, or a notice indicating
      where to find the applicable terms.
    </p>

    <p>Additional terms, permissive or non-permissive, may be stated in the
      form of a separately written license, or stated as exceptions;
      the above requirements apply either way.
    </p>
  </div>

  <div class="col-6 col-12-small">
    <h4><a name="section7"></a>
      {% include 'flag_br.html' %}
      7. Termos Adicionais.</h4>

    <p>"Permissões adicionais" são termos que complementam os termos desta
      Licença, fazendo exceções de uma ou mais de suas condições. Permissões
      adicionais que são aplicáveis ​​a todo o Programa devem ser tratadas como
      se fossem incluídas nesta Licença, na medida em que sejam válidas sob
      a lei aplicável. Se permissões adicionais se aplicarem apenas a parte
      do Programa, essa parte poderá ser usada separadamente sob essas
      permissões, mas o Programa inteiro permanecerá regido por esta Licença
      sem considerar as permissões adicionais.
    </p>

    <p>Quando você transmitir uma cópia de um trabalho coberto, você pode, a
      seu critério, remover quaisquer permissões adicionais dessa cópia ou de
      qualquer parte dela. (Permissões adicionais podem ser escritas para
      exigir sua própria remoção em certos casos quando você modificar o
      trabalho.) Você pode colocar permissões adicionais no material,
      adicionadas por você a um trabalho coberto, para o qual você tem ou
      pode dar permissão de direitos autorais apropriada.
    </p>

    <p>Não obstante qualquer outra disposição desta Licença, para o material
      que você adicionar a uma obra coberta, você poderá (se autorizado pelos
      detentores de direitos autorais daquele material) suplementar os termos
      desta Licença com termos:
    </p>

    <ul>
      <li>a) Renúncia de garantia ou limitação de responsabilidade de maneira
        diferente dos termos das seções 15 e 16 desta Licença; ou
      </li>

      <li>b) Exigir a preservação de avisos legais razoáveis ​​ou atribuições
        de autor nesse material ou nos Avisos Legais Apropriados exibidos
        pelas obras que o contenham; ou
      </li>

      <li>c) Proibir a deturpação da origem desse material, ou exigir que
        versões modificadas de tal material sejam marcadas de maneira razoável,
        diferente da versão original; ou
      </li>

      <li>d) Limitar o uso para fins publicitários de nomes de licenciadores
        ou autores do material; ou
      </li>

      <li>e) Recusar-se a conceder direitos sob a lei de marcas para uso de
        alguns nomes comerciais, marcas registradas ou marcas de serviço; ou
      </li>

      <li>f) Exigir indenização de licenciantes e autores desse material por
        qualquer pessoa que transmita o material (ou versões modificadas do
        mesmo) com pressupostos contratuais de responsabilidade para o
        destinatário, por qualquer responsabilidade que essas suposições
        contratuais impõem diretamente a esses licenciadores e autores.
      </li>
    </ul>

    <p>Todos os outros termos adicionais não permissivos são considerados
      "restrições adicionais" dentro do significado da seção 10. Se o Programa
      que você recebeu, ou qualquer parte dele, contiver um aviso declarando
      que ele é regido por esta Licença, juntamente com um termo que é uma
      restrição adicional, você pode remover esse termo. Se um documento de
      licença contiver uma restrição adicional, mas permitir o novo
      licenciamento ou transmissão sob esta Licença, você poderá adicionar
      a um material de trabalho coberto regido pelos termos desse documento
      de licença, desde que a restrição adicional não sobreviva a tal
      relicenciamento ou transmissão.
    </p>

    <p>Se você adicionar termos a um trabalho coberto de acordo com esta
      seção, deverá colocar, nos arquivos de origem relevantes, uma declaração
      dos termos adicionais que se aplicam a esses arquivos ou um aviso
      indicando onde encontrar os termos aplicáveis.
    </p>

    <p>Termos adicionais, permissivos ou não permissivos, podem ser declarados
      sob a forma de uma licença escrita separadamente, ou declarados como
      exceções; os requisitos acima se aplicam de qualquer maneira.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section8"></a>
      {% include 'flag_en.html' %}
      8. Termination.</h4>

    <p>You may not propagate or modify a covered work except as expressly
      provided under this License. Any attempt otherwise to propagate or
      modify it is void, and will automatically terminate your rights under
      this License (including any patent licenses granted under the third
      paragraph of section 11).</p>

    <p>However, if you cease all violation of this License, then your
      license from a particular copyright holder is reinstated (a)
      provisionally, unless and until the copyright holder explicitly and
      finally terminates your license, and (b) permanently, if the copyright
      holder fails to notify you of the violation by some reasonable means
      prior to 60 days after the cessation.</p>

    <p>Moreover, your license from a particular copyright holder is
      reinstated permanently if the copyright holder notifies you of the
      violation by some reasonable means, this is the first time you have
      received notice of violation of this License (for any work) from that
      copyright holder, and you cure the violation prior to 30 days after
      your receipt of the notice.</p>

    <p>Termination of your rights under this section does not terminate the
      licenses of parties who have received copies or rights from you under
      this License. If your rights have been terminated and not permanently
      reinstated, you do not qualify to receive new licenses for the same
      material under section 10.</p>
  </div>

  <div class="col-6 col-12-small">
    <h4><a name="section8"></a>
      {% include 'flag_br.html' %}
      8. Rescisão.</h4>

    <p>Você não pode propagar ou modificar um trabalho coberto, exceto
      conforme expressamente previsto nesta Licença. Qualquer tentativa de
      propagá-lo ou modificá-lo será anulada e terminará automaticamente seus
      direitos sob esta Licença (incluindo quaisquer licenças de patente
      concedidas de acordo com o terceiro parágrafo da seção 11).
    </p>

    <p>No entanto, se você cessar toda violação desta Licença, sua licença
      de um determinado detentor de direitos autorais será restabelecida
      <sup>(a)</sup> provisoriamente, a menos e até que o detentor dos direitos
      autorais encerre explicitamente e finalmente sua licença, e <sup>(b)</sup>
      permanentemente, se o detentor dos direitos autorais falhar para
      notificá-lo da violação por alguns meios razoáveis ​​antes de 60 dias
      após a cessação.
    </p>

    <p>Além disso, sua licença de um determinado detentor de direitos
      autorais é restabelecida permanentemente se o detentor dos direitos
      autorais notificá-lo da violação por alguns meios razoáveis, esta é a
      primeira vez que você recebeu uma notificação de violação desta Licença
      (por qualquer trabalho) desse detentor dos direitos autorais, e você
      cura a violação antes de 30 dias após o recebimento do aviso.
    </p>

    <p>O término dos seus direitos sob esta seção não encerra as licenças das
      partes que receberam cópias ou direitos de você sob esta Licença. Se
      os seus direitos foram encerrados e não restabelecidos permanentemente,
      você não está qualificado para receber novas licenças para o mesmo
      material na seção 10.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section9"></a>
      {% include 'flag_en.html' %}
      9. Acceptance Not Required for Having Copies.</h4>

    <p>You are not required to accept this License in order to receive or
      run a copy of the Program. Ancillary propagation of a covered work
      occurring solely as a consequence of using peer-to-peer transmission
      to receive a copy likewise does not require acceptance. However,
      nothing other than this License grants you permission to propagate or
      modify any covered work. These actions infringe copyright if you do
      not accept this License. Therefore, by modifying or propagating a
      covered work, you indicate your acceptance of this License to do so.
    </p>
  </div>

  <div class="col-6 col-12-small">
    <h4><a name="section9"></a>
      {% include 'flag_br.html' %}
      9. Aceitação não é necessária para ter cópias.</h4>

    <p>Você não é obrigado a aceitar esta Licença para receber ou executar
      uma cópia do Programa. Propagação auxiliar de um trabalho coberto
      ocorrendo apenas como conseqüência do uso da transmissão peer-to-peer
      para receber uma cópia também não requer aceitação. No entanto, nada
      além desta Licença concede a você permissão para propagar ou modificar
      qualquer trabalho coberto. Essas ações violam os direitos autorais se
      você não aceitar esta licença. Portanto, ao modificar ou propagar um
      trabalho coberto, você indica sua aceitação desta Licença para fazê-lo.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section10"></a>
      {% include 'flag_en.html' %}
      10. Automatic Licensing of Downstream Recipients.</h4>

    <p>Each time you convey a covered work, the recipient automatically
      receives a license from the original licensors, to run, modify and
      propagate that work, subject to this License. You are not responsible
      for enforcing compliance by third parties with this License.
    </p>

    <p>An &quot;entity transaction&quot; is a transaction transferring control
      of an organization, or substantially all assets of one, or subdividing
      an organization, or merging organizations. If propagation of a covered
      work results from an entity transaction, each party to that
      transaction who receives a copy of the work also receives whatever
      licenses to the work the party's predecessor in interest had or could
      give under the previous paragraph, plus a right to possession of the
      Corresponding Source of the work from the predecessor in interest, if
      the predecessor has it or can get it with reasonable efforts.
    </p>

    <p>You may not impose any further restrictions on the exercise of the
      rights granted or affirmed under this License. For example, you may
      not impose a license fee, royalty, or other charge for exercise of
      rights granted under this License, and you may not initiate litigation
      (including a cross-claim or counterclaim in a lawsuit) alleging that
      any patent claim is infringed by making, using, selling, offering for
      sale, or importing the Program or any portion of it.
    </p>
  </div>

  <div class="col-6 col-12-small">
    <h4><a name="section10"></a>
      {% include 'flag_br.html' %}
      10. Licenciamento Automático de Destinatários Downstream.</h4>

    <p>Cada vez que você veicula um trabalho coberto, o destinatário recebe
      automaticamente uma licença dos licenciantes originais para executar,
      modificar e propagar esse trabalho, sujeito a esta Licença. Você não é
      responsável por impor a conformidade de terceiros com esta Licença.
    </p>

    <p>Uma "transação de entidade" é uma transação que transfere o controle
      de uma organização, ou substancialmente todos os ativos de um, ou
      subdividindo uma organização ou organizações que se fundem. Se a
      propagação de uma obra coberta resultar de uma transação da entidade,
      cada parte dessa transação que receber uma cópia da obra também recebe
      quaisquer licenças para a obra que o antecessor da parte interessada
      tinha ou poderia dar sob o parágrafo anterior, mais o direito à posse
      da Fonte Correspondente do trabalho do antecessor em interesse, se o
      antecessor o tiver ou puder obtê-lo com esforços razoáveis.
    </p>

    <p>Você não pode impor nenhuma restrição adicional ao exercício dos
      direitos concedidos ou confirmados sob esta Licença. Por exemplo, você
      não pode impor uma taxa de licença, royalty ou outro encargo pelo
      exercício dos direitos concedidos sob esta Licença, e você não pode
      iniciar litígios (incluindo uma reivindicação cruzada ou reconvenção em
      uma ação judicial) alegando que qualquer reivindicação de patente é
      violada fazendo, usando, vendendo, oferecendo para venda ou importando
      o Programa ou qualquer parte dele.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section11"></a>
      {% include 'flag_en.html' %}
      11. Patents.</h4>

    <p>A &quot;contributor&quot; is a copyright holder who authorizes use
      under this License of the Program or a work on which the Program is
      based. The work thus licensed is called the contributor's &quot;contributor
      version&quot;.
    </p>

    <p>A contributor's &quot;essential patent claims&quot; are all patent
      claims owned or controlled by the contributor, whether already acquired
      or hereafter acquired, that would be infringed by some manner, permitted
      by this License, of making, using, or selling its contributor version,
      but do not include claims that would be infringed only as a
      consequence of further modification of the contributor version. For
      purposes of this definition, &quot;control&quot; includes the right to
      grant patent sublicenses in a manner consistent with the requirements of
      this License.
    </p>

    <p>Each contributor grants you a non-exclusive, worldwide, royalty-free
      patent license under the contributor's essential patent claims, to
      make, use, sell, offer for sale, import and otherwise run, modify and
      propagate the contents of its contributor version.
    </p>

    <p>In the following three paragraphs, a &quot;patent license&quot; is any
      express agreement or commitment, however denominated, not to enforce a
      patent (such as an express permission to practice a patent or covenant
      not to sue for patent infringement). To &quot;grant&quot; such a patent
      license to a party means to make such an agreement or commitment not to
      enforce a patent against the party.
    </p>

    <p>If you convey a covered work, knowingly relying on a patent license,
      and the Corresponding Source of the work is not available for anyone
      to copy, free of charge and under the terms of this License, through a
      publicly available network server or other readily accessible means,
      then you must either (1) cause the Corresponding Source to be so
      available, or (2) arrange to deprive yourself of the benefit of the
      patent license for this particular work, or (3) arrange, in a manner
      consistent with the requirements of this License, to extend the patent
      license to downstream recipients. &quot;Knowingly relying&quot; means
      you have actual knowledge that, but for the patent license, your conveying
      the covered work in a country, or your recipient's use of the covered
      work in a country, would infringe one or more identifiable patents in
      that country that you have reason to believe are valid.
    </p>

    <p>If, pursuant to or in connection with a single transaction or
      arrangement, you convey, or propagate by procuring conveyance of, a
      covered work, and grant a patent license to some of the parties
      receiving the covered work authorizing them to use, propagate, modify
      or convey a specific copy of the covered work, then the patent license
      you grant is automatically extended to all recipients of the covered
      work and works based on it.
    </p>

    <p>A patent license is &quot;discriminatory&quot; if it does not include
      within the scope of its coverage, prohibits the exercise of, or is
      conditioned on the non-exercise of one or more of the rights that are
      specifically granted under this License. You may not convey a covered
      work if you are a party to an arrangement with a third party that is
      in the business of distributing software, under which you make payment
      to the third party based on the extent of your activity of conveying
      the work, and under which the third party grants, to any of the
      parties who would receive the covered work from you, a discriminatory
      patent license (a) in connection with copies of the covered work
      conveyed by you (or copies made from those copies), or (b) primarily
      for and in connection with specific products or compilations that
      contain the covered work, unless you entered into that arrangement,
      or that patent license was granted, prior to 28 March 2007.
    </p>

    <p>Nothing in this License shall be construed as excluding or limiting
      any implied license or other defenses to infringement that may
      otherwise be available to you under applicable patent law.
    </p>
  </div>

  <div class="col-6 col-12-small">
    <h4><a name="section11"></a>
      {% include 'flag_br.html' %}
      11. Patentes.</h4>

    <p>Um "colaborador" é um detentor de direitos autorais que autoriza o
      uso sob esta Licença do Programa ou um trabalho no qual o Programa se
      baseia. O trabalho assim licenciado é chamado de "colaborador version"
      do contribuidor.
    </p>

    <p>As "reivindicações de patentes essenciais" de um contribuidor são
      todas as reivindicações de patentes detidas ou controladas pelo
      contribuinte, sejam elas já adquiridas ou adquiridas no futuro, que
      seriam infringidas de alguma forma permitida por esta Licença de fabricar,
      usar ou vender sua versão de contribuidor, mas não inclua reivindicações
      que seriam violadas apenas como consequência de modificações posteriores
      da versão do contribuidor. Para fins desta definição, "controle" inclui
      o direito de conceder sublicenças de patente de maneira consistente com
      os requisitos desta Licença.
    </p>

    <p>Cada colaborador concede a você uma licença de patente não exclusiva,
      mundial e isenta de royalties, de acordo com as reivindicações de patentes
      essenciais do contribuinte, para produzir, usar, vender, oferecer para
      venda, importar e executar, modificar e propagar o conteúdo de sua
      versão de contribuinte.
    </p>

    <p>Nos três parágrafos seguintes, uma "licença de patente" é qualquer
      acordo ou compromisso expresso, não obstante, para impor uma patente
      (como uma permissão expressa para praticar uma patente ou convênio para
      não processar por violação de patente). "Conceder" tal licença de patente
      a uma parte significa fazer tal acordo ou compromisso de não fazer valer
      uma patente contra a parte.
    </p>

    <p>Se você transmitir um trabalho coberto, confiar conscientemente em uma
      licença de patente, e a Fonte Correspondente do trabalho não estiver
      disponível para qualquer pessoa copiar, gratuitamente e sob os termos
      desta Licença, por meio de um servidor de rede disponível publicamente
      ou outro acesso de fácil acesso significa, então você deve (1) fazer
      com que a Fonte Correspondente esteja tão disponível, ou (2) providenciar
      para privar-se do benefício da licença de patente para este trabalho em
      particular, ou (3) organizar, de uma maneira consistente com o requisitos
      desta Licença, para estender a licença de patente aos destinatários a
      jusante. "Confiar conscientemente" significa que você tem conhecimento
      real de que, mas para a licença de patente, para veicular o trabalho
      coberto em um país ou para o uso que o destinatário fez do trabalho
      coberto em um país,
    </p>

    <p>Se, de acordo com ou em conexão com uma única transação ou acordo,
      você transmitir ou propagar mediante a contratação de uma obra coberta
      e conceder uma licença de patente a algumas das partes que receberem o
      trabalho coberto, autorizando-as a usar, propagar, modificar ou
      transmitir uma cópia específica do trabalho coberto, então a licença de
      patente concedida é automaticamente estendida a todos os destinatários
      do trabalho coberto e trabalhos baseados nele.
    </p>

    <p>Uma licença de patente é "discriminatória" se não incluir dentro do
      escopo de sua cobertura, proíbe o exercício ou é condicionada ao não
      exercício de um ou mais dos direitos que são especificamente concedidos
      sob esta Licença. Você não pode transmitir um trabalho coberto se for
      parte de um acordo com um terceiro que esteja no negócio de distribuir
      software, sob o qual você efetua pagamentos a terceiros com base na
      extensão de sua atividade de veiculação do trabalho, e sob o qual o
      terceiro concede, a qualquer das partes que receberia o trabalho coberto
      de você, uma licença de patente discriminatória (a) em conexão com cópias
      do trabalho coberto veiculado por você (ou cópias feitas desses exemplares),
      ou (b) principalmente para e em conexão com produtos específicos ou
      compilações que contenham o trabalho coberto,
    </p>

    <p>Nada nesta Licença deve ser interpretado como excluindo ou limitando
      qualquer licença implícita ou outras defesas contra infrações que possam
      estar disponíveis sob as leis de patentes aplicáveis.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section12"></a>
      {% include 'flag_en.html' %}
      12. No Surrender of Others' Freedom.
    </h4>

    <p>If conditions are imposed on you (whether by court order, agreement or
      otherwise) that contradict the conditions of this License, they do not
      excuse you from the conditions of this License. If you cannot convey a
      covered work so as to satisfy simultaneously your obligations under this
      License and any other pertinent obligations, then as a consequence you may
      not convey it at all. For example, if you agree to terms that obligate you
      to collect a royalty for further conveying from those to whom you convey
      the Program, the only way you could satisfy both those terms and this
      License would be to refrain entirely from conveying the Program.</p>
  </div>

  <div class="col-6 col-12-small">
    <h4><a name="section12"></a>
      {% include 'flag_br.html' %}
      12. Nenhuma renúncia à liberdade dos outros
    </h4>

    <p>Se as condições forem impostas a você (seja por ordem judicial, acordo
      ou outro) que contradigam as condições desta Licença, elas não o
      isentarão das condições desta Licença. Se você não puder transmitir um
      trabalho coberto de modo a satisfazer simultaneamente suas obrigações
      sob esta Licença e quaisquer outras obrigações pertinentes, então, como
      consequência, você não poderá transmiti-lo. Por exemplo, se você concordar
      com os termos que o obrigam a cobrar royalties para continuar
      transmitindo de quem você transmite o Programa, a única maneira de
      satisfazer esses termos e esta Licença seria abster-se totalmente de
      transmitir o Programa.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section13"></a>
      {% include 'flag_en.html' %}
      13. Remote Network Interaction; Use with the GNU General Public License.
    </h4>

    <p>Notwithstanding any other provision of this License, if you modify the
      Program, your modified version must prominently offer all users
      interacting with it remotely through a computer network (if your version
      supports such interaction) an opportunity to receive the Corresponding
      Source of your version by providing access to the Corresponding Source
      from a network server at no charge, through some standard or customary
      means of facilitating copying of software. This Corresponding Source
      shall include the Corresponding Source for any work covered by version 3
      of the GNU General Public License that is incorporated pursuant to the
      following paragraph.</p>

    <p>Notwithstanding any other provision of this License, you have permission
      to link or combine any covered work with a work licensed under version 3
      of the GNU General Public License into a single combined work, and to
      convey the resulting work. The terms of this License will continue to
      apply to the part which is the covered work, but the work with which it is
      combined will remain governed by version 3 of the GNU General Public
      License.</p>
  </div>

  <div class="col-6 col-12-small">
    <h4><a name="section13"></a>
      {% include 'flag_br.html' %}
      13. Interação de Rede Remota; Use com a Licença Pública Geral GNU.
    </h4>

    <p>Não obstante qualquer outra disposição desta Licença, se você modificar
      o Programa, sua versão modificada deverá oferecer, de forma proeminente,
      a todos os usuários que interajam remotamente através de uma rede de
      computadores (se sua versão suportar tal interação) a oportunidade de
      receber a Fonte Correspondente de sua versão. acesso à Fonte
      Correspondente a partir de um servidor de rede sem custo, através de
      algum meio padrão ou habitual de facilitar a cópia de software. Esta
      Fonte Correspondente deverá incluir a Fonte Correspondente para qualquer
      trabalho coberto pela versão 3 da Licença Pública Geral GNU que seja
      incorporada de acordo com o parágrafo a seguir.
    </p>

    <p>Não obstante qualquer outra disposição desta Licença, você tem
      permissão para vincular ou combinar qualquer trabalho coberto com uma
      obra licenciada sob a versão 3 da Licença Pública Geral GNU em um único
      trabalho combinado e para transmitir o trabalho resultante. Os termos
      desta Licença continuarão a ser aplicados à parte que é o trabalho
      coberto, mas o trabalho com o qual ela é combinada permanecerá regido
      pela versão 3 da Licença Pública Geral GNU.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">

    <h4><a name="section14"></a>
      {% include 'flag_en.html' %}
      14. Revised Versions of this License.</h4>

    <p>The Free Software Foundation may publish revised and/or new versions of
      the GNU Affero General Public License from time to time. Such new
      versions will be similar in spirit to the present version, but may differ
      in detail to address new problems or concerns.
    </p>

    <p>Each version is given a distinguishing version number. If the
      Program specifies that a certain numbered version of the GNU Affero
      General Public License &quot;or any later version&quot; applies to it, you have
      the option of following the terms and conditions either of that
      numbered version or of any later version published by the Free
      Software Foundation. If the Program does not specify a version number
      of the GNU Affero General Public License, you may choose any version
      ever published by the Free Software Foundation.
    </p>

    <p>If the Program specifies that a proxy can decide which future
      versions of the GNU Affero General Public License can be used, that
      proxy's public statement of acceptance of a version permanently
      authorizes you to choose that version for the Program.
    </p>

    <p>Later license versions may give you additional or different
      permissions. However, no additional obligations are imposed on any
      author or copyright holder as a result of your choosing to follow a
      later version.
    </p>
  </div>

  <div class="col-6 col-12-small">

    <h4><a name="section14"></a>
      {% include 'flag_br.html' %}
      14. Versões revisadas desta licença.</h4>

    <p>A Free Software Foundation pode publicar versões revisadas e / ou
      novas da GNU Affero General Public License de tempos em tempos. Essas
      novas versões serão semelhantes em espírito à versão atual, mas podem
      diferir em detalhes para abordar
      novos problemas ou preocupações.
    </p>

    <p>Cada versão recebe um número de versão distinto. Se o Programa
      especifica que uma certa versão numerada da Licença Pública Geral
      Affero GNU "ou qualquer versão posterior" se aplica a ela, você tem a
      opção de seguir os termos e condições da versão numerada ou de qualquer
      versão posterior publicada pelo Free Fundação de Software. Se o Programa
      não especificar um número de versão da Licença Pública Geral GNU Affero,
      você poderá escolher qualquer versão já publicada pela Free Software
      Foundation.
    </p>

    <p>Se o Programa especificar que um proxy pode decidir quais versões
      futuras da Licença Pública Geral do GNU Affero podem ser usadas, a
      declaração pública de aceitação de uma versão do proxy autoriza
      permanentemente a escolha dessa versão para o Programa.
    </p>

    <p>Versões posteriores da licença podem conceder permissões adicionais
      ou diferentes. No entanto, nenhuma obrigação adicional é imposta a
      qualquer autor ou detentor de direitos autorais como resultado de sua
      escolha de seguir uma versão posterior.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section15"></a>
      {% include 'flag_en.html' %}
      15. Disclaimer of Warranty.</h4>

    <p>THERE IS NO WARRANTY FOR THE PROGRAM, TO THE EXTENT PERMITTED BY
      APPLICABLE LAW. EXCEPT WHEN OTHERWISE STATED IN WRITING THE COPYRIGHT
      HOLDERS AND/OR OTHER PARTIES PROVIDE THE PROGRAM &quot;AS IS&quot;
      WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING,
      BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
      FOR A PARTICULAR PURPOSE. THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE
      OF THE PROGRAM IS WITH YOU. SHOULD THE PROGRAM PROVE DEFECTIVE, YOU
      ASSUME THE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION.
    </p>
  </div>

  <div class="col-6 col-12-small">
    <h4><a name="section15"></a>
      {% include 'flag_br.html' %}
      15. Isenção de Garantia.</h4>

    <p>NÃO HÁ NENHUMA GARANTIA PARA O PROGRAMA, NA EXTENSÃO PERMITIDA PELA
      LEGISLAÇÃO APLICÁVEL. EXCETO QUANDO DE OUTRA FORMA ESTABELECIDO POR
      ESCRITO, OS DETENTORES DOS DIREITOS AUTORAIS E / OU OUTRAS PARTES
      FORNECEM O PROGRAMA "COMO ESTÁ" SEM QUALQUER TIPO DE GARANTIA, EXPRESSA
      OU IMPLÍCITA, INCLUINDO, SEM LIMITAÇÃO, AS GARANTIAS DE COMERCIALIZAÇÃO
      E ADEQUAÇÃO A UM DETERMINADO FIM . TODO O RISCO QUANTO À QUALIDADE E
      DESEMPENHO DO PROGRAMA É COM VOCÊ. CASO O PROGRAMA SEJA DEFEITUOSO,
      VOCÊ ASSUME O CUSTO DE TODOS OS SERVIÇOS, REPAROS OU CORREÇÕES
      NECESSÁRIOS.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section16"></a>
      {% include 'flag_en.html' %}
      16. Limitation of Liability.</h4>


    <p>IN NO EVENT UNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING
      WILL ANY COPYRIGHT HOLDER, OR ANY OTHER PARTY WHO MODIFIES AND/OR CONVEYS
      THE PROGRAM AS PERMITTED ABOVE, BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY
      GENERAL, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE
      USE OR INABILITY TO USE THE PROGRAM (INCLUDING BUT NOT LIMITED TO LOSS OF
      DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD
      PARTIES OR A FAILURE OF THE PROGRAM TO OPERATE WITH ANY OTHER PROGRAMS),
      EVEN IF SUCH HOLDER OR OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF
      SUCH DAMAGES.
    </p>
  </div>

  <div class="col-6 col-12-small">
    <h4><a name="section16"></a>
      {% include 'flag_br.html' %}
      16. Limitação de Responsabilidade.</h4>

    <p>EM CASO ALGUM, A MENOS QUE EXIGIDO PELA LEGISLAÇÃO APLICÁVEL OU
      ACORDADO POR ESCRITO, QUALQUER TITULAR DOS DIREITOS AUTORAIS, OU
      QUALQUER OUTRA PARTE QUE MODIFICAR E / OU TRANSMITIR O PROGRAMA COMO
      PERMITIDO ACIMA, SERÁ RESPONSÁVEL POR DANOS, INCLUINDO QUAISQUER ASPECTOS
      GERAIS, ESPECIAIS, INCIDENTAIS OU CONSEQÜENCIAIS. DANOS DECORRENTES DA
      UTILIZAÇÃO OU INCAPACIDADE DE UTILIZAR O PROGRAMA (INCLUINDO, ENTRE
      OUTROS, A PERDA DE DADOS OU DADOS QUE TENHAM SIDO INCORRECIDAS OU
      PERDAS SUSTENTADAS POR VOCÊ OU TERCEIROS OU FALHA DO PROGRAMA EM FUNCIONAR
      COM QUAISQUER OUTROS PROGRAMAS), MESMO SE O TITULAR OU OUTRA PARTE TENHA
      SIDO AVISADO DA POSSIBILIDADE DE TAIS DANOS.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h4><a name="section17"></a>
      {% include 'flag_en.html' %}
      17. Interpretation of Sections 15 and 16.</h4>

    <p>If the disclaimer of warranty and limitation of liability provided
      above cannot be given local legal effect according to their terms,
      reviewing courts shall apply local law that most closely approximates
      an absolute waiver of all civil liability in connection with the
      Program, unless a warranty or assumption of liability accompanies a
      copy of the Program in return for a fee.</p>

    <p>END OF TERMS AND CONDITIONS</p>
  </div>

  <div class="col-6 col-12-small">
    <h4><a name="section17"></a>
      {% include 'flag_br.html' %}
      17. Interpretação das Seções 15 e 16.</h4>

    <p>Se a renúncia de garantia e limitação de responsabilidade fornecida
      acima não puderem ter efeito legal local de acordo com seus termos, os
      tribunais de revisão deverão aplicar a lei local que mais se aproxime
      de uma renúncia absoluta de toda responsabilidade civil relacionada ao
      Programa, a menos que uma garantia ou suposição de responsabilidade
      acompanha uma cópia do Programa em troca de uma taxa.
    </p>

    <p>FIM DOS TERMOS E CONDIÇÕES</p>
  </div>
</div>

<div class="row">
  <div class="col-6 col-12-small">
    <h3><a name="howto"></a>
      {% include 'flag_en.html' %}
      How to Apply These Terms to Your New Programs</h3>

    <p>If you develop a new program, and you want it to be of the greatest
      possible use to the public, the best way to achieve this is to make it
      free software which everyone can redistribute and change under these terms.</p>

    <p>To do so, attach the following notices to the program. It is safest
      to attach them to the start of each source file to most effectively
      state the exclusion of warranty; and each file should have at least
      the &quot;copyright&quot; line and a pointer to where the full notice is found.</p>

    <pre>
      &lt;one line to give the program's name
      and a brief idea of what it does.&gt;
      Copyright (C) &lt;year&gt;
      &lt;name of author&gt;

      This program is free
      software: you can
      redistribute it
      and/or modify
      it under the terms of
      the GNU Affero General
      Public License as
      published by the Free
      Software Foundation,
      either version 3 of the
      License, or
      (at your option)
      any later version.

      This program is distributed
      in the hope that it will
      be useful,
      but WITHOUT ANY WARRANTY;
      without even the implied
      warranty of
      MERCHANTABILITY or
      FITNESS FOR A
      PARTICULAR PURPOSE.
      See the
      GNU Affero General
      Public License
      for more details.

      You should have received
      a copy of the GNU Affero
      General Public License
      along with this program.
      If not, see
      &lt;https://www.gnu.org/licenses/&gt;.
      </pre>

    <p>Also add information on how to contact you by electronic and paper mail.</p>

    <p>If your software can interact with users remotely through a computer
      network, you should also make sure that it provides a way for users to
      get its source. For example, if your program is a web application, its
      interface could display a &quot;Source&quot; link that leads users to
      an archive of the code. There are many ways you could offer source, and
      different solutions will be better for different programs; see section
      13 for the specific requirements.
    </p>

    <p>You should also get your employer (if you work as a programmer) or
      school, if any, to sign a &quot;copyright disclaimer&quot; for the program,
      if necessary. For more information on this, and how to apply and follow
      the GNU AGPL, see &lt;<a href="https://www.gnu.org/licenses/">https://www.gnu.org/licenses/</a>&gt;.</p>
  </div>

  <div class="col-6 col-12-small">
    <h3><a name="howto"></a>
      {% include 'flag_br.html' %}
      Como aplicar estes termos aos seus novos programas</h3>

    <p>Se você desenvolver um novo programa e quiser que ele seja da maior
      utilidade possível para o público, a melhor maneira de conseguir isso
      é torná-lo um software livre que todos possam redistribuir e alterar
      nesses termos.
    </p>

    <p>Para isso, anexe os seguintes avisos ao programa. É mais seguro
      anexá-los ao início de cada arquivo de origem para declarar com mais
      eficácia a exclusão da garantia; e cada arquivo deve ter pelo menos a
      linha "copyright" e um ponteiro para onde o aviso completo é encontrado.
    </p>

    <pre>
      &lt;uma linha para indicar
      o nome do programa e uma
      breve ideia do que ele faz.&gt;
      Copyright (C) &lt;ano&gt; &lt;nome do autor&gt;

      Este programa é software livre:
      você pode redistribuí-lo e / ou modificar
      sob os termos da licença GNU Affero General
      Public License como
      publicado pela Free Software
      Foundation, seja versão 3 do
      Licença, ou (a seu critério)
      qualquer versão posterior.

      Este programa é distribuído na
      esperança de que seja útil,
      mas SEM QUALQUER GARANTIA;
      sem mesmo a garantia implícita de
      COMERCIABILIDADE OU ADEQUAÇÃO
      A UM DETERMINADO FIM. Veja o
      Licença Pública Geral GNU
      Affero para mais detalhes.

      Você deveria ter recebido uma
      cópia da Licença Pública Geral GNU Affero
      junto com este programa.
      Se não, veja <https://www.gnu.org/licenses/>.
          </pre>

    <p>Adicione também informações sobre como contatá-lo por correio eletrônico
      e em papel.
    </p>

    <p>Se o seu software puder interagir com os usuários remotamente por meio
      de uma rede de computadores, você também deve garantir que eles forneçam
      uma maneira de os usuários obterem sua origem. Por exemplo, se o seu
      programa for um aplicativo da Web, sua interface poderá exibir um link
      "Origem" que leva os usuários a um arquivo morto do código. Há muitas
      maneiras de oferecer fontes e diferentes soluções serão melhores para
      diferentes programas; veja a seção 13 para os requisitos específicos.
    </p>

    <p>Você também deve obter o seu empregador (se você trabalha como
      programador) ou a escola, se houver, para assinar um "aviso de isenção
      de direitos autorais" para o programa, se necessário. Para mais
      informações sobre isto, e como aplicar e seguir a GNU AGPL, veja
      &lt;<a href="https://www.gnu.org/licenses/">https://www.gnu.org/licenses/</a>&gt;.</p>
  </div>
</div>

{% include 'home_bck_btn.html' %}
<p></p>
{% endblock content %}
