<!-- botão Homve do fim da Página -->
{% load static %}
<div class="container">
  <br>
  <div class="text-right">
    <a class="btn btn-danger btn-sm" href="{% url 'url_home' %}" role="button">
      <img src="{% static 'icones/home.png' %}" width="20" alt="home">&nbsp;Home
    </a>
    &nbsp;&nbsp;
    <a class="btn btn-danger btn-sm" href="{% url 'url_livro_novo' %}" role="button">
      <img src="{% static 'icones/note.png' %}" width="20" alt="Novo Livro">&nbsp;Novo
    </a>
    <p></p>
  </div>
</div>
