{% extends 'base.html' %}

{% load static %}

{% block titulo %}
  TdD&nbsp;&mdash;&nbsp;Biblioteca
{% endblock titulo %}

{% block content %}
<div class="container text-right">
  <form method="GET">
    <div class="row">
      <div class="col-6">
        <b>Pesquisar:</b>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" type="search" name="q" placeholder="Digite a palavra-chave e aperte &lt;Enter&gt;" value="{{ request.GET.q }}">
        </div>
      </div>
      <div class="col-1 text-left">
        <div class="form-group">
          <button class="form-control btn btn-light">
            <img src="{% static 'icones/search.png' %}" width="30" alt="Pesquisar">
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<h2 class="text-white bg-info">
  <div class="container">
    Biblioteca
  </div>
</h2>

{% include 'livro_novo_btn.html' %}
{% include 'livro_paginador.html' %}

<div class="container">
  {% for livro in livros %}
  <div class="container text-center">
    {% if livro.capa_img  %}
      {% if livro.digital %}
      <a href="../{{livro.arquivo}}">
        <img src="../{{livro.capa_img}}" alt="{{livro.publicacao}}"
        width="100px" align="right" class="livro" />
      </a>
      {% else %}
      <img src="../{{livro.capa_img}}" alt="{{livro.publicacao}}"
      width="100px" align="right" class="livro" />
      {% endif %}
    {% else %}
      <img src="static/img/Triponto.png" alt="Nada Cadastrado"
      width="100px" align="right" class="livro" />
    {% endif %}
  </div>
  <div class="row">
    <div class="col-10 text-secondary">
      <small><b>
          Título:
        </b></small><br>
      <a href="{% url 'url_livro_edita' livro.id %}" class="text-info">
        <p class="h4 text-info">{{livro.publicacao}}</p>
        <i>{{livro.subtitulo}}</i>
      </a>
    </div>
    <div class="col-2">
      <small><b>Grau:</b></small><br>
      {% if livro.grau == "AM" %}
      A∴M∴
      {% elif livro.grau == "CM" %}
      C∴M∴
      {% elif livro.grau == "MM" %}
      M∴M∴
      {% elif livro.grau == "MI" %}
      M∴I∴
      {% elif livro.grau == "Fl" %}
      Filo∴
      {% elif livro.grau == "Pr" %}
      Prof∴
      {% else %}
      N/A
      {% endif %}<br>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <small><b>Autor:</b></small><br>
      {{livro.autor}}
      <br>
    </div>
    <div class="col-2">
      <small><b>Tipo de Publicação:</b></small>
      <br>
      {{livro.tipo}}
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <small>
        <b>Editora:</b>
      </small><br>
      {{livro.editora}}
    </div>
    <div class="col-3">
      <small>
        <b>Cidade:</b>
      </small><br>
      {{livro.cidade}}
    </div>
    <div class="col-2">
      {% if livro.digital%}
      Versão digital
      {% else %}
      Versão Física
      {% endif %}
    </div>
    <div class="col-2">
      {{ livro.dt_livro }}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <small><b>Categoria</b></small><br>
      {% if livro.categoria == "Hist" %}
        História da Maçonaria
      {% elif livro.categoria == "Simb" %}
        Simbolismo e Catecismo
      {% elif livro.categoria == "Rito" %}
        Rito, Ritualística e Paramaçônicas
      {% elif livro.categoria == "Leg" %}
        Legislação Maçônica
      {% elif livro.categoria == "Sup" %}
        Graus Superiores
      {% elif livro.categoria == "Dic" %}
        Dicionário
      {% elif livro.categoria == "Esot" %}
        Esoterismo
      {% elif livro.categoria == "Filo" %}
        Filosofia
      {% elif livro.categoria == "Div" %}
        Diversos
      {% elif livro.categoria == "Outr" %}
        Outros
      {% else %}
        Categoria não cadastrada
      {% endif %}
    </div>
    <div class="col-6">
      <small><b>Nota:</b></small><br>
      {% if livro.nota == 1 %}
        {# 0,5 #}
        <img src="{% static 'icones/star-half.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
      {% elif livro.nota == 2 %}
        {# 1,0 #}
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
      {% elif livro.nota == 3 %}
        {# 1,5 #}
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-half.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
      {% elif livro.nota == 4 %}
        {# 2,0 #}
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
      {% elif livro.nota == 5 %}
        {# 2,5 #}
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-half.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
      {% elif livro.nota == 6 %}
        {# 3,0 #}
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
      {% elif livro.nota == 7 %}
        {# 3,5 #}
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-half.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
      {% elif livro.nota == 8 %}
        {# 4,0 #}
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
      {% elif livro.nota == 9 %}
        {# 4,5 #}
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-half.png' %}" width="20px">
      {% elif livro.nota == 10 %}
        {# 5,0 #}
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
        <img src="{% static 'icones/star-full.png' %}" width="20px">
      {% else %}
        {# 0,0 #}
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
        <img src="{% static 'icones/star-empty.png' %}" width="20px">
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <small><b>Sinopse:</b></small>
      <div class="container bg-withe">
        <i>{{ livro.sinopse|safe }}</i>
      </div>
    </div>
  </div>

  <div class="text-right">
    <a href="{% url 'url_livro_apaga' livro.id %}" class="btn btn-light btn-sm">
      <img src="{% static 'icones/delete.png' %}" width="20" alt="apagar">
    </a>
    <a href="{% url 'url_livro_edita' livro.id %}" class="btn btn-light btn-sm">
      <img src="{% static 'icones/edit.png' %}" width="20" alt="editar">
    </a>
  </div>
  <hr>
  {% endfor %}
</div>

{% include 'livro_paginador.html' %}
{% include 'livro_novo_btn.html' %}

{% endblock content %}
