{% load static %}

<li class="nav-item">
  <img src="{% static 'icones/documents.png' %}"
    width="15" alt="Ficha">
  <a href="{% url 'url_ficha' %}" class="text-light">
    Fichas</a><br>
</li>
<li class="nav-item">
  <img src="{% static 'icones/calendar.png' %}"
    width="15" alt="Fatos">
  <a href="{% url 'url_fato' %}" class="text-light">
    Fatos</a><br>
</li>
<li class="nav-item">
  <img src="{% static 'icones/book.png' %}"
    width="15" alt="Livro">
  <a href="{% url 'url_livro' %}" class="text-light">
    Livro</a>
</li>
<li class="nav-item">
  <img src="{% static 'icones/user-config.png' %}"
    width="15" alt="Irmão">
  <a href="{% url 'url_irmao' %}" class="text-light">
    Irmão</a>
</li>
<li class="nav-item">
  <img src="{% static 'icones/quit.png' %}"
    width="15" alt="Sair">
  <a href="/user/logout" class="text-light">
    Sair</a>
</li>
