{% load static %}
<br>
<nav>
  <ul>
    <li><a class="h4" href="#">&#9776;</a>
      <ul>
        <li>
          <a href="{% url 'url_ficha' %}" class="text-light">
            <img src="{% static 'icones/documents.png' %}"
              width="15">
              &nbsp;
              Fichas</a>
            <ul>
              <li>
                <a href="{% url 'url_ficha'%}">
                  &#10122;&nbsp;Lista</a>
                <a href="{% url 'url_ficha_nova'%}">
                  &#10123;&nbsp;Novo</a>
                <a href="{% url 'url_ficha_pdf' %}">
                  &#10124;&nbsp;Imprimir</a>
              </li>
            </ul>
        </li>
        <li>
          <a href="{% url 'url_fato' %}" class="text-light">
            <img src="{% static 'icones/calendar.png' %}"
              width="15">
              &nbsp;
              Fatos</a>
              <ul>
                <li>
                  <a href="{% url 'url_fato'%}">
                    &#10122;&nbsp;Lista</a>
                  <a href="{% url 'url_fato_novo'%}">
                    &#10123;&nbsp;Novo</a>
                  <a href="{% url 'url_fato_pdf' %}">
                    &#10124;&nbsp;Imprimir</a>
                </li>
              </ul>
        </li>
        <li>
          <a href="{% url 'url_livro' %}" class="text-light">
            <img src="{% static 'icones/book.png' %}"
              width="15">
              &nbsp;
              Livro</a>
              <ul>
                <li>
                  <a href="{% url 'url_livro'%}">
                    &#10122;&nbsp;Lista</a>
                  <a href="{% url 'url_livro_novo'%}">
                    &#10123;&nbsp;Novo</a>
                  <a href="{% url 'url_livro_pdf' %}">
                    &#10124;&nbsp;Imprimir</a>
                </li>
              </ul>
        </li>
        <li>
          <a href="/user/logout" class="text-light">
            <img src="{% static 'icones/quit.png' %}"
              width="15">
              &nbsp;
              Sair</a>
              <ul>
                <li>
                  <a href="/user/logout" class="text-light">
                      &nbsp;.</a>
                </li>
              </ul>
        </li>
        <li>
          <a href="/user/logout" class="text-light">
              &nbsp;</a>
              <ul>
                <li>
                  <a href="/user/logout" class="text-light">
                      &nbsp;</a>
                </li>
              </ul>
        </li>

        <!-- submenu pra depois
          <li><a href="#">JavaScript</a>
          <ul>
            <li><a href="#">jQuery</a></li>
            <li><a href="#">Angular</a></li>
          </ul>
        </li>
        -->
      </ul>
    </li>
  </ul>
</nav>
