{% extends 'base.html' %}
{% load static %}
{% block titulo %}
  TdD&nbsp;&mdash;&nbsp;Sobre o TdD
{% endblock titulo %}

{% block content %}
<h2 class="text-white bg-info">
  <div class="container">
    Sobre o TdD
  </div>
</h2>

{% include 'home_bck_btn.html' %}


<h3>Tábua de Delinear <strong class="tdd">#X</strong></h3>
<p>
  <em>Copyleft</em> <span class="copy-left">&copy;</span>
  2019/2020&nbsp;&mdash;&nbsp;Ir&therefore; <strong>Ronaldo Silveira</strong>
  M&therefore;M&therefore;
</p>
<p>
  Programa para organização de Fichas Bibliográficas e de Pesquisa
  Maçônicas.
</p>

<p>O <strong>Tábua de Delinear</strong> <strong class="tdd">#X</strong> é uma
  variação do Programa <i>Fichas</i>, do mesmo autor,  que por sua vez, é parte
  do Projeto <em> <a class="text-info" href="http://django4myself.com">
  Django 4 Myself</a></em> que trata de um sistema de armazenamento de fichas
  bibliográficas de estudo. <div class="text-danger">Esta versão, em particular,
  é específica para assuntos Maçônicos.</div>
</p>

<p>
  Este programa é software livre: você pode redistribuí-lo e/ou modificar
  sob os termos da licença
  GNU Affero General Public License como publicado pela Free Software
  Foundation, seja versão 3 da Licença, ou, a seu critério, qualquer
  versão posterior.
</p>

<p>
  Este programa é distribuído na esperança de que seja útil, mas SEM
  QUALQUER GARANTIA; sem mesmo a garantia implícita de COMERCIABILIDADE
  OU ADEQUAÇÃO A UM DETERMINADO FIM. Veja a

  Licença Pública Geral GNU Affero para mais detalhes.
</p>

<p>
  Você tem nos links de Licença deste programa, uma cópia da Licença
  Pública Geral GNU Affero versão 3, junto com este programa.
  Se isto não ocorreu, veja
  <a href="https://www.gnu.org/licenses" class="text-info">
    https://www.gnu.org/licenses</a>
</p>

<p class="h3 text-info">&nbsp;
  O que o programa já faz:
  <ul>
    <li>Cadastra livros/autores/editoras;</li>
    <li>Cadastra fichas bibliográficas;</li>
    <li>Cadastra Acontecimentos (Efemérides) Maçônicos;</li>
    <li>Trata, de modo personalizado, Erros 400 e 500;</li>
  </ul>
</p>

<div class="container bg-info">
  <div class="container">
    <p class="h3 bg-info text-white">
      <img src="{% static 'icones/dialog-warning.png' %}" width="30" alt="home">
      &nbsp;Alerta !!!
      <img src="{% static 'icones/dialog-warning.png' %}" width="30" alt="home">
    </p>
  </div>
  <div class="container bg-light">
    <p class="bg-light">
      Informações de negócio nao são distribuídas.<br>
      Se precisar destas informações, procure o desenvolvedor.
    </p>
  </div>
  <div class="minimo">
    <i class="text-info h6">.</i>
  </div>

</div>
<br>

{% include 'home_bck_btn.html' %}
{% endblock content %}
